{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/ui_autocomplete/jquery-ui.min.css' %} ">
{% endblock extra_css %}

{% block content %}
<div class = "col-md-8">
	<hr class ="half-margins invisible">

	<button class = "btn btn-primary" onclick="location.href='{% url 'perfiles:perfil_propio' %}'">Muro
	</button>
	<button class = "btn btn-primary active">Libros
		{% if notificaciones %}
			<span class="badge notificaciones">{{notificaciones}}</span>
		{% endif %}
	</button>
	<hr class = "half-margins invisible">
		
	{% if libros_perfil.tiene_libros_pedidos or libros_perfil.tiene_libros_pedidos_bcompartida %}
		<h4> Has pedido prestado estos libros </h4>

		{% for r in libros_pedidos %}
		<!-- CALLOUT -->
		<div class="alert callout alert-default fade in">
			<div class="row">
				<div class="col-md-9 col-sm-9"><!-- left text -->
					<h4><strong>{{r.libro.titulo}}</strong> {{r.libro.autor}}</h4>
					<p>
						Pediste este libro a <a href="{% url 'perfiles:perfil_usuario' r.perfil_recepcion.usuario.username %}">{{r.perfil_recepcion.usuario.username}}.
						</a>
					</p>
				</div><!-- /left text -->
				<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
					<a class="cancelar_pedido" data-id="{{r.id}}" href="" rel="nofollow">Cancelar</a>
				</div><!-- /right btn -->
			</div>
		</div>
		<!-- /CALLOUT -->
		{% endfor %}

		{% for r in libros_pedidos_bcompartida %}
		<div class="alert callout alert-default fade in">
			<div class="row">
				<div class="col-md-9 col-sm-9"><!-- left text -->
					<h4><strong>{{r.libro_disponible.libro.titulo}}</strong> {{r.libro_disponible.libro.autor}}</h4>
					{% if r.aceptado %}
						<a href="{% url 'libros:biblioteca_compartida' r.libro_disponible.biblioteca_compartida.slug %}">
						{{r.libro_disponible.biblioteca_compartida.nombre}}.
						</a> aceptó prestarte el libro. Puedes retirarlo cuando quieras.
					{% else %}
					<p>
						Pediste este libro a <a href="{% url 'libros:biblioteca_compartida' r.libro_disponible.biblioteca_compartida.slug %}">
						{{r.libro_disponible.biblioteca_compartida.nombre}}.
						</a>
					</p>
					{% endif %}
				</div><!-- /left text -->
				<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
					<a class="cancelar_pedido_bcompartida" data-id="{{r.id}}" href="" rel="nofollow">Cancelar</a>
				</div><!-- /right btn -->
			</div>
		</div>
		{% endfor %}
		<hr class="half-margins" /><!-- divider 30px -->

	{% endif %}

	{% if libros_perfil.tiene_libros_prestados %}
		<h4> Tienes libros prestados </h4>

		{% for l in libros_prestados %}
		<!-- CALLOUT -->
		<div class="alert callout alert-default">
			<div class="row">
				<div class="col-md-9 col-sm-9"><!-- left text -->
					<h4><strong>{{l.libro.titulo}}</strong> {{l.libro.autor}}</h4>					
					<div class="toggle transparent">
						<div class="toggle">
							<label><h6>
							Tienes este libro de <a target="_blank" href="{% url 'perfiles:perfil_usuario' l.perfil_dueno.usuario.username %}">
							{{l.perfil_dueno.usuario.username}}</a>
							</h6></label>
							<div class="toggle-content">
								<p> 
									<small>
									{% if l.fecha_max_devolucion %}
										Fecha máxima de devolución: {{l.fecha_max_devolucion|date}}. <br>
									{% endif %}
									Mensaje: '{{l.mensaje_aceptacion}}' <br>
									Teléfono de contacto: {{l.perfil_dueno.numero_telefono_contacto}}. <br>
									Email: {{l.perfil_dueno.usuario.email}}.
									</small>
								</p>
							</div>
						</div>
					</div>
				</div><!-- /left text -->
				<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
					{% if l.receptor_anuncio_devolucion %}
						<p> <small> marcaste este libro como devuelto </small></p>
					{% else %}
						<button class="btn btn-info anunciar_devuelto" data-toggle="modal" data-target=".bs-example-modal-sm" data-id="{{l.id}}" 
						data-tipo="perfil">
						Ya lo devolví
						</button>
					{% endif %}
				</div><!-- /right btn -->
			</div>
		</div>
		<!-- /CALLOUT -->
		{% endfor %}

		{% for l in libros_prestados_bcompartida %}
		<!-- CALLOUT -->
		<div class="alert callout alert-default fade in">
			<div class="row">
				<div class="col-md-9 col-sm-9"><!-- left text -->
					<h4><strong>{{l.libro.titulo}}</strong> {{l.libro.autor}}</h4>
					<div class="toggle transparent">
						<div class="toggle">
							<label><h6>
							Tienes este libro de <a target="_blank" href="{% url 'libros:biblioteca_compartida' l.biblioteca_compartida.slug %}">
							{{l.biblioteca_compartida.nombre}}</a>
							</h6></label>
							<div class="toggle-content">
								<p>
									<small>
									Dirección: {{l.biblioteca_compartida.direccion}}
									</small>
								</p>
							</div>
						</div>
					</div>
				</div><!-- /left text -->
				<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->					
					{% if l.receptor_anuncio_devolucion %}
						<p> <small> marcaste este libro como devuelto </small></p>
					{% else %}
					<button class="btn btn-info anunciar_devuelto" data-toggle="modal" data-target="#modal_anunciar_devolucion" data-id="{{l.id}}" 
					data-tipo="bcompartida">
						Ya lo devolví
					</button>
					{% endif %}
				</div><!-- /right btn -->
			</div>
		</div>
		<!-- /CALLOUT -->
		{% endfor %}

		<!--Modal Anunciar Devolucion -->
		<div id="modal_anunciar_devolucion" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">

					<div class="modal-header"><!-- modal header -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Anunciar devolución</h4>
					</div><!-- /modal header -->

					<!-- modal body -->
					<div class="modal-body">
						Se enviará un mensaje al dueño recordándole que marque el libro como devuelto.
					</div>
					<!-- /modal body -->

					<div class="modal-footer"><!-- modal footer -->
						<button class="btn btn-default" data-dismiss="modal">Cancelar</button> <button id="modal_devolucion" class="btn btn-primary" data-id="">Ya lo devolví</button>
					</div><!-- /modal footer -->

				</div>
			</div>
		</div>

		<hr class="half-margins" /><!-- divider 30px -->	
	{% endif %}

		{% if not libros_perfil.tiene_libros_pedidos and not libros_perfil.tiene_libros_prestados %}
			<hr class ="invisible">
			<div class="alert alert-default"><!-- INFO -->
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
				<strong>No has pedido ningún libro ni tienes un libro prestado.</strong>
				Si deseas, busca un <a href="{% url 'libros:libros_ciudad' 'quito' '18' 'titulo' %}">libro disponible</a> en Quito
			</div>

		{% endif %}

	{% if libros_perfil.tiene_requests_pendientes %}
		<h4> Tienes pedidos pendientes</h4>
		<!-- CALLOUT -->
		{% for r in libros_requests %}
		<div class="alert callout alert-default fade in">
			<div class="row">
				<div class="col-md-9 col-sm-9"><!-- left text -->
					<h4><strong>{{r.libro.titulo}}</strong> {{r.libro.autor}}</h4>
					<p>
						{{r.fecha_request|date}} | <a href="{% url 'perfiles:perfil_usuario' r.perfil_envio.usuario.username %} ">{{r.perfil_envio.usuario.username}} </a> desea leer este libro.
					</p>
				</div><!-- /left text -->				
				<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
					<a href="{% url 'libros:libro_request' r.id %}" rel="nofollow" target="_blank" class="btn btn-warning btn-lg">Ver mensaje</a>
				</div><!-- /right btn -->
			</div>
		</div>
		{% endfor %}
		<!-- /CALLOUT -->
		<hr class="half-margins" /><!-- divider 30px -->
	{% endif %}

	{% for r in requests_entrar_grupo %}
		<div class ="alert callout alert-default">
			<div class = "row">
				<p class ="pull-right">
					<a href="#" class="aceptar_invitacion" data-request-id="{{r.id}}" data-url="{% url 'grupos:aceptar_ajax' %}">Aceptar 
					<i class ="fa fa-check"></i></a> | 
					<a title="rechazar" class="negar_invitacion" data-request-id="{{r.id}}" data-url="{% url 'grupos:negar_invitacion_ajax' %}" href="#">
					<i class ="fa fa-close"></i></a>
				</p>
			</div>
			<div class ="row">
			{% if r.invitado_por %}
				<p>
					<a target="_blank" href="{% url 'perfiles:perfil_usuario' r.invitado_por.usuario.username %}">
						<img src="{{r.invitado_por.imagen_perfil}}" class="img-responsive circular">{{r.invitado_por.usuario.username}}
					</a> invitó a 
					<a target="_blank" href="{% url 'perfiles:perfil_usuario' r.usuario_invitado.usuario.username %}">
						<img src="{{r.usuario_invitado.imagen_perfil}}" class="img-responsive circular">{{r.usuario_invitado.usuario.username}}
					</a>
					al grupo.
				</p>
			{% else %}
				<p>					
					<a title= "{{r.usuario_invitado.usuario.username}}" target="_blank" href="{% url 'perfiles:perfil_usuario' r.usuario_invitado.usuario.username %}">
						<img src="{{r.usuario_invitado.imagen_perfil}}" class="img-responsive circular">
						{{r.usuario_invitado.usuario.username}}
					</a> a solicitado unirse al grupo.
				</p>				
			{% endif %}
			</div>
		</div>
	{% endfor %}

	</div>

<!-- sidebar -->	
<div class = "col-md-4">
	<br>
	<figure class="text-center margin-bottom8">		
		<img class="img-responsive img-circle" src="{{avatar}}" width="260" height="260" alt="">
	</figure>

	<h3 class="nomargin">{{perfil_usuario.usuario.username}}</h3>

	<hr class = "half-margins invisible">
	<!-- Estoy Leyendo -->
	<div class="accordion panel-group" id="accordion">
		<div class="panel panel-default panel_info_disponible">
			<div class="panel-heading">
				<p class="panel-title">
					<a class = "mas_info_libro" data-id="{{l.id}}" data-url-target="" data-click="0"
						data-toggle="collapse" data-parent="#accordion" href="#acc_estoy_leyendo">
						{% if actualmente_leyendo %}
							Estoy leyendo &nbsp <strong>{{ actualmente_leyendo.libro.titulo }}</strong>
						{% else %}
							¿Estás leyendo un libro?
						{% endif %}
					</a>
				</p>
			</div>
			<div id="acc_estoy_leyendo" class="collapse">
				<div class="panel-body">
					{% if actualmente_leyendo %}
					<div class = "row">
						<a id="comenzo_otro_libro" class="pull-right">Comencé a leer otro libro</a>
						<div id="hidden_leyendo" class = "hidden">
							<div class = "row">
								<form class="form-horizontal" method="post" action="">
									{% csrf_token %}
									<div class="form-group">
										<div class="col-md-12">
										  <input id="titulo" name="titulo" placeholder="Título" class="form-control input-md" type="text">
										</div>
									</div>
				  	  				<input type="hidden" id="libro_id" name="libro_id" value="">
									<!-- Text input-->
									<div class="form-group">
									  <div class="col-md-12">
										  <input id="autor" name="autor" placeholder="Autor" class="form-control input-md" type="text">						
									  </div>
									</div>
									<input data-url="{% url 'perfiles:leyendo_libro_ajax' %}" id="submit_leyendo" class = "btn btn-success pull-right" 
									type="submit" value="Enviar">
								</form>
							</div>
							<hr class ="half-margins">
						</div>
					</div>
					{% else %}
						<div class = "row">
							<form class="form-horizontal" method="post" action="">
								{% csrf_token %}
								<div class="form-group">
									<div class="col-md-12">
									  <input id="titulo" name="titulo" placeholder="Título" class="form-control input-md" type="text">
									</div>
								</div>
			  	  				<input type="hidden" id="libro_id" name="libro_id" value="">
								<!-- Text input-->
								<div class="form-group">
								  <div class="col-md-12">
									  <input id="autor" name="autor" placeholder="Autor" class="form-control input-md" type="text">						
								  </div>
								</div>
								<input data-url="{% url 'perfiles:leyendo_libro_ajax' %}" id="submit_leyendo" class = "btn btn-success pull-right" type="submit" value="Enviar">
							</form>
						</div>
						<hr class ="half-margins">
					{% endif %}
					<br>
					<div id="libros_leidos">
					{% for libro_leido in libros_leidos_usuario %}
						<p class='well'>
								<a title="Editar" class="editar_libro_leido pull-right" href="" 
								data-id="{{libro_leido.id}}"
								data-autor="{{libro_leido.libro.autor}}"
								data-titulo="{{libro_leido.libro.titulo}}"								
								data-termino="{% if libro_leido.termino %}1{% else %}0{% endif %}">								
								<i class="fa fa-pencil-square-o pull-right"></i></a><br>
								{{ libro_leido.libro.titulo }} 
								<small> {{ libro_leido.libro.autor }} </small> <br>
							{% if libro_leido.termino %}
								<i class="fa fa-calendar"></i> 
								&nbsp {{ libro_leido.inicio|date:"F/y" }} -	{{ libro_leido.termino|date:"F/y" }}
							{% else %}
								<i class="fa fa-calendar"></i> 
								&nbsp {{ libro_leido.inicio|date:"F/y" }}
								<a title="Terminé de leerlo" class="termino_leer pull-right" href="" data-id="{{libro_leido.id}}" 
								data-url="{% url 'perfiles:termino_leer_ajax' %}">
								<i class="fa fa-calendar-check-o"></i></a>
							{% endif %}
						</p>
					{% endfor %}
					</div>					
				</div>
			</div>
			<!-- modal editar libro leyendo-->
			<div id="modal_editar_leyendo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header"><!-- modal header -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Editar libro leído</h4>
						</div><!-- /modal header -->

						<!-- modal body -->
						<div class="modal-body">
							<form id="form_editar_libro_leyendo" class="form-horizontal" method="POST" action="{% url 'perfiles:editar_libro_leido' %}">
								{% csrf_token %}
								<fieldset>
									<!-- Text input-->
									<div class="form-group">
									  <label class="col-md-4 control-label" for="autor">Autor</label>  
									  <div class="col-md-4">
									  	<input id="modal_leyendo_autor" name="autor" placeholder="autor" class="form-control input-md" type="text"> 
									  </div>
									</div>

									<!-- Text input-->
									<div class="form-group">
									  <label class="col-md-4 control-label" for="titulo">Título</label>  
									  <div class="col-md-4">
									  	<input id="modal_leyendo_titulo" name="titulo" placeholder="titulo" class="form-control input-md" type="text">
									  </div>
									</div>

									<!-- Multiple Checkboxes -->
									<div class="form-group">
									  <label class="col-md-4 col-md-offset-1 control-label" for="termino">Ya terminé de leerlo</label>
									  <div class="col-md-4">
										  <div class="checkbox">
										      <input class="form-control" name="termino" id="modal_leyendo_termino" value="1" type="checkbox">
										      <i class ="fa fa-thumbs-o-up"></i>
										  </div>
									  </div>
									</div>

									<input class="hidden" name="libro_leido_id" id="modal_leyendo_id" value="" type="hidden">
								</fieldset>
							</form>							
						</div>
						<!-- /modal body -->
						<div class="modal-footer"><!-- modal footer -->
							<button id="eliminar_libro_leido" class="pull-left btn btn-danger" data-url="{% url 'perfiles:eliminar_libro_leido_ajax' %}">
							Eliminar Libro</button> 
							<button id="submit_editar_libro_leyendo" class="btn btn-primary">
							Enviar Cambios</button>
						</div><!-- /modal footer -->

					</div>
				</div>
			</div>
		</div>
	</div>

	{% if grupos %}
		<hr class ="half-margins invisible">
		<h3> Grupos </h3>		
		{% for grupo in grupos %}
			<a href="{% url 'grupos:main_grupo_actividad' grupo.id %}" class="">{{grupo.nombre}}</a>
			<br>
		{% endfor %}
	{% endif %}

	<!--
	{% if not perfil_usuario.ciudad %}
		<a href="{% url 'perfiles:editar_perfil' %}" class="margin-bottom20 margin-top6 block gray fsize12">Importante: Define tu Ciudad</a>
	{% else %}
		<span class="margin-bottom20 margin-top6 block gray fsize12">{{perfil_usuario.ciudad.name}}</span>
	{% endif %}
	-->

	{% if perfil_usuario.descripcion %}	
		<p class ="gray">{{perfil_usuario.descripcion}}</p>
	{% else %}
		<a href="{% url 'perfiles:editar_perfil' %}" class="margin-bottom20 margin-top6 block gray fsize12">Describe tu perfil</a>
	{% endif %}

	<div class="divider">
		<i class="fa fa-book"></i>
	</div>

	<div class="row profile-activity hidden-xs">
		<!-- activity item -->
		<div class="col-xs-10 col-sm-11">
			<h3><a href="{% url 'libros:mi_biblioteca' %}">Biblioteca</a></h3>

			{% for l in libros_disponibles %}
			<div class="alert alert-default">
				<div class="row">
					<div class="col-md-9 col-sm-9"><!-- left text -->						
						<p>
							<strong>{{l.libro.titulo}}</strong> <br> <small> {{l.libro.autor}} </small>
						</p>
					</div><!-- /left text -->
				</div>
			</div>
			{% empty %}
				<p> No tienes libros disponibles por ahora </p>
			{% endfor %}
		</div>

		<div class="col-sm-12">
			<hr class="half-margins" />
		</div><!-- /activity separator -->
	</div>
	
	{% if bibliotecas_compartidas %}
		{% for biblioteca in bibliotecas_compartidas %}
		<div class = "well">
			<img src="{{biblioteca.imagen}}" class="img-responsive circular pull-right">
			<br>
			<h3>
				<a href="{% url 'libros:biblioteca_compartida' biblioteca.slug  %}" class="">{{biblioteca.nombre}}</a>
			</h3>
		</div>
		{% endfor %}
		<hr class = "half-margins invisible">
	{% endif %}

</div>
{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'assets/js/jquery-ui-fold.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/ui_autocomplete/jquery-ui.min.js' %}"></script>

<script>
	$(document).ready(function(){

		$(".cancelar_pedido_bcompartida").on("click", function(e){
			e.preventDefault();
			var request_id = $(this).data("id");
			$.ajax({
				method: "POST",
				url: "/libros/cancelar_pedido_bcompartida/",
				data: {'request_id': request_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				success: function(){
					location.reload();
				}
			});
		});

		$(".cancelar_pedido").on("click", function(e){
			e.preventDefault();
			var request_id = $(this).data("id");
			$.ajax({
				method: "POST",
				url: "/libros/cancelar_pedido/",
				data: {'request_id': request_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				success: function(){
					location.reload();
				}
			});
		});

		$(".anunciar_devuelto").on("click", function(e){
			e.preventDefault();
			var lprestado_id = $(this).data("id");			
			var tipo = $(this).data("tipo");
			$("#modal_devolucion").attr("data-id", lprestado_id);
			$("#modal_devolucion").attr("data-tipo", tipo);
		});

		$("#modal_devolucion").on("click", function(e){
			e.preventDefault();
			var libro_id = $(this).data("id");
			var tipo = $(this).data("tipo")
			$.ajax({
				method: "POST",
				url: "/libros/anunciar_devolucion/",
				data: {'id_libro_prestado': libro_id, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'tipo': tipo},
				success: function(){
					location.reload();
				}
			});
		});
	});

	// autocomplete titulos / autores
	var titulos_autocomplete = []
	var titulos_list = JSON.parse('{{titulos_autocomplete|safe}}');
	console.log(titulos_list);
	$.each(titulos_list, function(key, value){	
		titulos_autocomplete.push(key);
	});

	var autores_autocomplete = []
	var autores_list = JSON.parse('{{autores_autocomplete|safe}}');
	$.each(autores_list, function(key, value){
		autores_autocomplete.push(key);
	});

	$("#titulo").autocomplete({
		source: titulos_autocomplete,
		minLength: 2,
		select: function(event, ui){
			var titulo_seleccionado = ui.item.value
			console.log(titulo_seleccionado);

			// Poner libro disponible id en el hidden input
			var id_libro = titulos_list[titulo_seleccionado][0];
			$("#libro_id").val(id_libro);

			// Poner sugerencia de autor como placeholder en el input de autor
			var nombre_autor = titulos_list[titulo_seleccionado][1];
			$("#autor").attr("placeholder", nombre_autor+"?");
		}
	});

	$("#autor").autocomplete({
		source: autores_autocomplete,
		minLength: 2,
	});

	$("#submit_leyendo").on("click", function(e){
		e.preventDefault()
		var libro_id = $("#libro_id").val();
		var autor = $("#autor").val();
		var titulo = $("#titulo").val();
		var data = {'autor': autor, 'titulo': titulo, 'libro_id': libro_id, 'csrfmiddlewaretoken': '{{csrf_token}}'}

		var url_ajax = $(this).data("url")

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(){
				console.log("comenzo a leer nuevo libro!");
				location.reload();
			},
			error: function(){
				console.log('error');
			}
		});
	});

	$("#comenzo_otro_libro").on("click", function(e){
		e.preventDefault();
		$("#hidden_leyendo").removeClass("hidden");
		$(this).addClass("hidden");
	});

	$(".termino_leer").on("click", function(e){
		e.preventDefault();

		var libro_leido_id = $(this).data("id");
		var url_ajax = $(this).data("url");
		var data = {'libro_leido_id': libro_leido_id, 'csrfmiddlewaretoken': '{{csrf_token}}'};		

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(){
				location.reload();
			}
		});
	});

	$(".editar_libro_leido").on("click", function(e){
		e.preventDefault();		
		var libro_leido_id = $(this).data("id");
		var libro_leido_autor = $(this).data("autor");
		var libro_leido_titulo = $(this).data("titulo");
		var libro_leido_termino = $(this).data("termino");	

		// poner las variables dentro del form del modal
		$("#modal_leyendo_autor").val(libro_leido_autor);
		$("#modal_leyendo_titulo").val(libro_leido_titulo);		
		$("#modal_leyendo_id").val(libro_leido_id);

		if (libro_leido_termino == "1"){
			$("#modal_leyendo_termino").prop("checked", true);
		} else {
			$("#modal_leyendo_termino").prop("checked", false);
		}

		$("#modal_editar_leyendo").modal("show");
	});

	// submit form del modal on click.
	$("#submit_editar_libro_leyendo").on("click", function(){
		$("#form_editar_libro_leyendo").submit();
	});

	// eliminar libro leido.
	$("#eliminar_libro_leido").on("click", function(){
		var libro_leido_id = $("#modal_leyendo_id").val();
		var url_ajax = $(this).data("url")
		var data = {'libro_leido_id': libro_leido_id, 'csrfmiddlewaretoken': '{{csrf_token}}'}
				
		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(){
				location.reload();
			}
		});
	});

	// Aceptar negar entrar a grupo si es admin
	$(".aceptar_invitacion").on("click", function(){
		var requestId = $(this).data("request-id");
		var data = {'requestId': requestId, 'csrfmiddlewaretoken': '{{ csrf_token }}'};

		$.ajax({
			method: "POST",
			url: $(".aceptar_invitacion").data("url"),
			data: data,
			success: function(){
				alert()
			},
			error: function(){
				alert("Hubo un error al aceptar la invitación, disculpa las molestias");
			}
		});
	});

	$(".negar_invitacion").on("click", function(){
		var requestId = $(this).data("request-id");
		var data = {'requestId': requestId, 'csrfmiddlewaretoken': '{{ csrf_token }}'}

		$.ajax({
			method: "POST",
			url: $(".negar_invitacion").data("url"),
			data: data,
			success: function(){
				location.reload()
			},
			error: function(){
				alert("Hubo un error al rechazar la invitación, disculpa las molestias");
			}
		});
	});

</script>
{% endblock extra_javascript %}

