{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/ui_autocomplete/jquery-ui.min.css' %} ">
{% endblock extra_css %}

{% block content %}
<div class = "col-md-8">
	<hr class ="half-margins invisible">

	<button class = "btn btn-primary active">Muro</button>
	<button class = "btn btn-primary" onclick="location.href='{% url 'perfiles:perfil_propio_libros' %}'">Libros
		{% if notificaciones %}
			<span class="badge">{{notificaciones}}</span>
		{% endif %}
	</button>
	<hr class = "half-margins invisible">

	<!-- Comment form -->	
	<form action="{% url 'comments:comentar_perfil' perfil_usuario.usuario.username %}" method="post" class="sky-form boxed form_comentario">
		{% csrf_token %}
		<fieldset>							
			<section>
				<label class="textarea">
					<i class="icon-append fa fa-comments"></i>
					<textarea placeholder="Escribe un comentario" name = "comentario" rows="3"></textarea>
				</label>
			</section>
		</fieldset>			
		<footer>
			<button type="submit" class="button">Publicar</button>
		</footer>
		<br>
	</form>	

	<!-- Actividad -->
	{% for act in actividad %}
		{% if act.1 == "comment" %}
			<div class="alert callout alert-default">
				<div class="row parent_comment">
					<a class="pull-left" href="{% url 'perfiles:perfil_usuario' act.0.perfil.usuario.username %}">							
						<img src="{{act.0.perfil.imagen_perfil}}" class="img-responsive circular">
					</a>
				
					&nbsp {{act.0.texto}}

					<a data-id="{{ act.0.id }}" data-url-ajax="{% url 'comments:respuestas_comment_perfil_ajax' %}" data-clicked="0"
					class="show_respuestas_comment cerrado pull-right" href="">
						<i class = "fa fa-comment"></i>
						{{act.0.num_respuestas|default:""}}							
					</a>
					<div class = "hidden comments">
						<br>
						<div class = "col-md-offset-1 div_respuestas">
							<div class = "respuestas_comment">
							</div>
							{% if user.is_authenticated %}
							<!-- Comment form -->	
							<form action="" method="post" class="sky-form">
								{% csrf_token %}
								<fieldset>
									<section>
										<label class="textarea">
											<i class="icon-append fa fa-comment fa-flip-horizontal"></i>
											<textarea class="texto_respuesta" placeholder="Escribe una respuesta para {{act.0.perfil.usuario.username}}" 
											name = "comentario" rows="2"></textarea>
										</label>
									</section>
									<button data-id="{{act.0.id}}" data-url="{% url 'comments:responder_comment_perfil_ajax' %}" type="submit" class="button enviar_respuesta">
									Responder</button>
								</fieldset>			
							</form>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<!-- es un objeto Notificacion -->
			<div class="alert callout alert-default">
				<div class="row">
					<a data-id="{{ act.0.id }}" data-url-ajax="{% url 'comments:respuestas_notificacion_ajax' %}" data-clicked="0"
					class="show_comments_notificacion cerrado pull-right" href="">
						<i class = "fa fa-comment"></i>
						{{act.0.num_respuestas|default:""}}
					</a>
					{% if act.0.tipo == "compartio_libro_grupo" %}
						<p> <a target="_blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> compartió el libro 
						<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong> 
						con el grupo <a target="_blank" href="{% url 'grupos:main_grupo_actividad' act.0.grupo.id %}">{{act.0.grupo.nombre}}</a>
						</p>
					{% elif act.0.tipo == "comenzo_leer" %}
						<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> empezó a leer 
						<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong> 
						</p>
					{% elif act.0.tipo == "termino_leer" %}
						<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> terminó de leer
						<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong>!
						</p>
					{% elif act.0.tipo == "compartio_libro_abierto" %}
						<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> compartió el libro 
						<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong> 
						con la comunidad de {{act.0.perfil_actor.ciudad.name}}.
						</p>
					{% endif %}
					<div class = "hidden comments">
						<br>
						<div class = "col-md-offset-1 div_respuestas">
							<div class = "respuestas_comment">
							</div>
							{% if user.is_authenticated %}
							<!-- Comment form -->	
							<form action="" method="post" class="sky-form">
								{% csrf_token %}
								<fieldset>
									<section>
										<label class="textarea">
											<i class="icon-append fa fa-comment fa-flip-horizontal"></i>
											<textarea class="texto_comment" placeholder="Escribe tu comentario" 
											name = "comentario" rows="2"></textarea>
										</label>
									</section>
									<button data-id="{{act.0.id}}" data-url="{% url 'comments:comment_notificacion_ajax' %}" type="submit" class="button comment_notificacion">
									Comentar
									</button>
								</fieldset>
							</form>
							{% else %}
								<p class="pull-right" title="Necesitas estar registrado para poder comentar"><i class="fa fa-lock"></i></p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>

<!-- sidebar -->	
<div class = "col-md-4">
	<br>
	<figure class="text-center margin-bottom8">		
		<img class="img-responsive img-circle" src="{{avatar}}" width="260" height="260" alt="">
	</figure>

	<h3 class="nomargin">{{perfil_usuario.usuario.username}}</h3>

	<hr class = "half-margins invisible">
	<!-- Estoy Leyendo -->
	<div class="accordion panel-group" id="accordion">
		<div class="panel panel-default panel_info_disponible">
			<div class="panel-heading">
				<p class="panel-title">
					<a class = "mas_info_libro" data-id="{{l.id}}" data-url-target="" data-click="0"
						data-toggle="collapse" data-parent="#accordion" href="#acc_estoy_leyendo">
						{% if actualmente_leyendo %}
							Estoy leyendo &nbsp <strong>{{ actualmente_leyendo.libro.titulo }}</strong>
						{% else %}
							¿Estás leyendo un libro?
						{% endif %}
					</a>
				</p>
			</div>
			<div id="acc_estoy_leyendo" class="collapse">
				<div class="panel-body">
					{% if actualmente_leyendo %}
					<div class = "row">
						<a id="comenzo_otro_libro" class="pull-right">Comencé a leer otro libro</a>
						<div id="hidden_leyendo" class = "hidden">
							<div class = "row">
								<form class="form-horizontal" method="post" action="">
									{% csrf_token %}
									<div class="form-group">
										<div class="col-md-12">
										  <input id="titulo" name="titulo" placeholder="Título" class="form-control input-md" type="text">
										</div>
									</div>
				  	  				<input type="hidden" id="libro_id" name="libro_id" value="">
									<!-- Text input-->
									<div class="form-group">
									  <div class="col-md-12">
										  <input id="autor" name="autor" placeholder="Autor" class="form-control input-md" type="text">						
									  </div>
									</div>
									<input data-url="{% url 'perfiles:leyendo_libro_ajax' %}" id="submit_leyendo" class = "btn btn-success pull-right" 
									type="submit" value="Enviar">
								</form>
							</div>
							<hr class ="half-margins">
						</div>
					</div>
					{% else %}
						<div class = "row">
							<form class="form-horizontal" method="post" action="">
								{% csrf_token %}
								<div class="form-group">
									<div class="col-md-12">
									  <input id="titulo" name="titulo" placeholder="Título" class="form-control input-md" type="text">
									</div>
								</div>
			  	  				<input type="hidden" id="libro_id" name="libro_id" value="">
								<!-- Text input-->
								<div class="form-group">
								  <div class="col-md-12">
									  <input id="autor" name="autor" placeholder="Autor" class="form-control input-md" type="text">						
								  </div>
								</div>
								<input data-url="{% url 'perfiles:leyendo_libro_ajax' %}" id="submit_leyendo" class = "btn btn-success pull-right" type="submit" value="Enviar">
							</form>
						</div>
						<hr class ="half-margins">
					{% endif %}
					<br>
					<div id="libros_leidos">
					{% for libro_leido in libros_leidos_usuario %}
						<p class='well'>
								<a title="Editar" class="editar_libro_leido pull-right" href="" 
								data-id="{{libro_leido.id}}"
								data-autor="{{libro_leido.libro.autor}}"
								data-titulo="{{libro_leido.libro.titulo}}"								
								data-termino="{% if libro_leido.termino %}1{% else %}0{% endif %}">								
								<i class="fa fa-pencil-square-o pull-right"></i></a><br>
								{{ libro_leido.libro.titulo }} 
								<small> {{ libro_leido.libro.autor }} </small> <br>
							{% if libro_leido.termino %}
								<i class="fa fa-calendar"></i> 
								&nbsp {{ libro_leido.inicio|date:"F/y" }} -	{{ libro_leido.termino|date:"F/y" }}
							{% else %}
								<i class="fa fa-calendar"></i> 
								&nbsp {{ libro_leido.inicio|date:"F/y" }}
								<a title="Terminé de leerlo" class="termino_leer pull-right" href="" data-id="{{libro_leido.id}}" 
								data-url="{% url 'perfiles:termino_leer_ajax' %}">
								<i class="fa fa-calendar-check-o"></i></a>
							{% endif %}
						</p>
					{% endfor %}
					</div>					
				</div>
			</div>
			<!-- modal editar libro leyendo-->
			<div id="modal_editar_leyendo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header"><!-- modal header -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Editar libro leído</h4>
						</div><!-- /modal header -->

						<!-- modal body -->
						<div class="modal-body">
							<form id="form_editar_libro_leyendo" class="form-horizontal" method="POST" action="{% url 'perfiles:editar_libro_leido' %}">
								{% csrf_token %}
								<fieldset>
									<!-- Text input-->
									<div class="form-group">
									  <label class="col-md-4 control-label" for="autor">Autor</label>  
									  <div class="col-md-4">
									  	<input id="modal_leyendo_autor" name="autor" placeholder="autor" class="form-control input-md" type="text"> 
									  </div>
									</div>

									<!-- Text input-->
									<div class="form-group">
									  <label class="col-md-4 control-label" for="titulo">Título</label>  
									  <div class="col-md-4">
									  	<input id="modal_leyendo_titulo" name="titulo" placeholder="titulo" class="form-control input-md" type="text">
									  </div>
									</div>

									<!-- Multiple Checkboxes -->
									<div class="form-group">
									  <label class="col-md-4 col-md-offset-1 control-label" for="termino">Ya terminé de leerlo</label>
									  <div class="col-md-4">
										  <div class="checkbox">
										      <input class="form-control" name="termino" id="modal_leyendo_termino" value="1" type="checkbox">
										      <i class ="fa fa-thumbs-o-up"></i>
										  </div>
									  </div>
									</div>

									<input class="hidden" name="libro_leido_id" id="modal_leyendo_id" value="" type="hidden">
								</fieldset>
							</form>							
						</div>
						<!-- /modal body -->
						<div class="modal-footer"><!-- modal footer -->
							<button id="eliminar_libro_leido" class="pull-left btn btn-danger" data-url="{% url 'perfiles:eliminar_libro_leido_ajax' %}">
							Eliminar Libro</button> 
							<button id="submit_editar_libro_leyendo" class="btn btn-primary">
							Enviar Cambios</button>
						</div><!-- /modal footer -->

					</div>
				</div>
			</div>
		</div>
	</div>

	{% if grupos %}
		<hr class ="half-margins invisible">
		<h4> Grupos </h4>
		{% for grupo in grupos %}
			<a href="{% url 'grupos:main_grupo_actividad' grupo.id %}" class="">{{grupo.nombre}}</a>
			<br>
		{% endfor %}
	{% endif %}

	<!--
	{% if not perfil_usuario.ciudad %}
		<a href="{% url 'perfiles:editar_perfil' %}" class="margin-bottom20 margin-top6 block gray fsize12">Importante: Define tu Ciudad</a>
	{% else %}
		<span class="margin-bottom20 margin-top6 block gray fsize12">{{perfil_usuario.ciudad.name}}</span>
	{% endif %}
	-->

	{% if perfil_usuario.descripcion %}	
		<p class ="gray">{{perfil_usuario.descripcion}}</p>
	{% else %}
		<a href="{% url 'perfiles:editar_perfil' %}" class="margin-bottom20 margin-top6 block gray fsize12">Describe tu perfil</a>
	{% endif %}

	<div class="divider">
		<i class="fa fa-book"></i>
	</div>
	
	{% if bibliotecas_compartidas %}
		{% for biblioteca in bibliotecas_compartidas %}
		<div class = "well">
			<img src="{{biblioteca.imagen}}" class="img-responsive circular pull-right">
			<br>
			<h3>
				<a href="{% url 'libros:biblioteca_compartida' biblioteca.slug  %}" class="">{{biblioteca.nombre}}</a>
			</h3>
		</div>
		{% endfor %}
		<hr class = "half-margins invisible">
	{% endif %}
	
	<div class="row profile-activity hidden-xs">
		<!-- activity item -->
		<div class="col-xs-10 col-sm-11">
			<h3><a href="{% url 'libros:mi_biblioteca' %}">Biblioteca</a></h3>

			{% for l in libros_disponibles %}
			<div class="alert alert-default">
				<div class="row">
					<div class="col-md-9 col-sm-9"><!-- left text -->						
						<p>
							<strong>{{l.libro.titulo}}</strong> <br> <small> {{l.libro.autor}} </small>
						</p>
					</div><!-- /left text -->
				</div>
			</div>
			{% empty %}
				<p> No tienes libros disponibles por ahora </p>
			{% endfor %}
		</div>

		<div class="col-sm-12">
			<hr class="half-margins" />
		</div><!-- /activity separator -->
	</div>
</div>
{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'assets/js/jquery-ui-fold.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/ui_autocomplete/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.validate.js' %}"></script>

<script>
	$(document).ready(function(){

	// autocomplete titulos / autores
	var titulos_autocomplete = []
	var titulos_list = JSON.parse('{{titulos_autocomplete|safe}}');	
	$.each(titulos_list, function(key, value){
		titulos_autocomplete.push(key);
	});

	var autores_autocomplete = []
	var autores_list = JSON.parse('{{autores_autocomplete|safe}}');
	$.each(autores_list, function(key, value){
		autores_autocomplete.push(key);
	});

	$("#titulo").autocomplete({
		source: titulos_autocomplete,
		minLength: 2,
		select: function(event, ui){
			var titulo_seleccionado = ui.item.value			

			// Poner libro disponible id en el hidden input
			var id_libro = titulos_list[titulo_seleccionado][0];
			$("#libro_id").val(id_libro);

			// Poner sugerencia de autor como placeholder en el input de autor
			var nombre_autor = titulos_list[titulo_seleccionado][1];
			$("#autor").attr("placeholder", nombre_autor+"?");
		}
	});

	$("#autor").autocomplete({
		source: autores_autocomplete,
		minLength: 2,
	});

	$("#submit_leyendo").on("click", function(e){
		e.preventDefault()
		var libro_id = $("#libro_id").val();
		var autor = $("#autor").val();
		var titulo = $("#titulo").val();
		var data = {'autor': autor, 'titulo': titulo, 'libro_id': libro_id, 'csrfmiddlewaretoken': '{{csrf_token}}'}

		var url_ajax = $(this).data("url")

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(){				
				location.reload();
			},
			error: function(){				
			}
		});
	});

	$("#comenzo_otro_libro").on("click", function(e){
		e.preventDefault();
		$("#hidden_leyendo").removeClass("hidden");
		$(this).addClass("hidden");
	});

	$(".termino_leer").on("click", function(e){
		e.preventDefault();

		var libro_leido_id = $(this).data("id");
		var url_ajax = $(this).data("url");
		var data = {'libro_leido_id': libro_leido_id, 'csrfmiddlewaretoken': '{{csrf_token}}'};		

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(){
				location.reload();
			}
		});
	});

	$(".editar_libro_leido").on("click", function(e){
		e.preventDefault();		
		var libro_leido_id = $(this).data("id");
		var libro_leido_autor = $(this).data("autor");
		var libro_leido_titulo = $(this).data("titulo");
		var libro_leido_termino = $(this).data("termino");	

		// poner las variables dentro del form del modal
		$("#modal_leyendo_autor").val(libro_leido_autor);
		$("#modal_leyendo_titulo").val(libro_leido_titulo);		
		$("#modal_leyendo_id").val(libro_leido_id);

		if (libro_leido_termino == "1"){
			$("#modal_leyendo_termino").prop("checked", true);
		} else {
			$("#modal_leyendo_termino").prop("checked", false);
		}

		$("#modal_editar_leyendo").modal("show");
	});

	// submit form del modal on click.
	$("#submit_editar_libro_leyendo").on("click", function(){
		$("#form_editar_libro_leyendo").submit();
	});

	// eliminar libro leido.
	$("#eliminar_libro_leido").on("click", function(){
		var libro_leido_id = $("#modal_leyendo_id").val();
		var url_ajax = $(this).data("url")
		var data = {'libro_leido_id': libro_leido_id, 'csrfmiddlewaretoken': '{{csrf_token}}'}
				
		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(){
				location.reload();
			}
		});
	});


	// Funcionalidades de comentarios
	
	// Esconder comentarios
	$(".comments").hide();
	$(".comments").removeClass("hidden");

	$(".show_respuestas_comment").on("click", function(e){
		e.preventDefault();
		var comments_div = $(this).parent().find(".comments")

		if( $(this).hasClass("cerrado") ){
			comments_div.show("fold");
			$(this).removeClass("cerrado");
		} else{
			comments_div.hide("fold");
			$(this).addClass("cerrado");
		}

		// revisar data-clicked para definir si es necesario hacer request por las respuestas o no		
		if($(this).data("clicked")==0){			
			// ajax pide respuestas al comment
			var id_comment = $(this).data("id");
			var url_ajax = $(this).data("url-ajax");
			var icon_abrir_comments = $(this);

			$.ajax({
				method: "GET",
				url: url_ajax,
				data: {'id_comment': id_comment},
				success: function(response){
					respuestas = JSON.parse(response);
					var respuestas_div = icon_abrir_comments.parent().find('.respuestas_comment');
				
					$.each(respuestas, function(index, value){
					$(respuestas_div).append(
						"<div class=well>"+
						"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+value[2]+"'>"+
						"<img class='img-responsive circular' src='"+value[3]+"'>"+"</a>"+"&nbsp"+
						value[1]+
						"</div>"
						);
					});

					// cambiar data "clicked" a 1 para que no vuelva a cargar en caso de que cierre y abra los comments de nuevo
					icon_abrir_comments.data("clicked", "1");
				}
			});
		} 
	});

	$(".show_comments_notificacion").on("click", function(e){
		e.preventDefault();
		var comments_div = $(this).parent().find(".comments")

		if( $(this).hasClass("cerrado") ){
			comments_div.show("fold");
			$(this).removeClass("cerrado");
		} else{
			comments_div.hide("fold");
			$(this).addClass("cerrado");
		}

		// revisar data-clicked para definir si es necesario hacer request por las respuestas o no
		
		if($(this).data("clicked")==0){			
			// ajax pide respuestas al comment
			var id_notificacion = $(this).data("id");
			var url_ajax = $(this).data("url-ajax");
			var icon_abrir_comments = $(this);
			

			$.ajax({
				method: "GET",
				url: url_ajax,
				data: {'id_notificacion': id_notificacion},
				success: function(response){
					respuestas = JSON.parse(response);
					var respuestas_div = icon_abrir_comments.parent().find('.respuestas_comment');
				
					$.each(respuestas, function(index, value){
					$(respuestas_div).append(
						"<div class=well>"+
						"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+value[2]+"'>"+
						"<img class='img-responsive circular' src='"+value[3]+"'>"+"</a>"+"&nbsp"+
						value[1]+
						"</div>"
						);
					});

					// cambiar data "clicked" a 1 para que no vuelva a cargar en caso de que cierre y abra los comments de nuevo
					icon_abrir_comments.data("clicked", "1");
				}
			});
		} 
	});

	var CambiarTextoError = function(objeto, texto_original){
		objeto.text("Hubo un error");
		setTimeout(function(){
			objeto.text(texto_original);
		}, 2000);
	}

	$(".enviar_respuesta").on("click", function(e){
		e.preventDefault();

		var texto_respuesta = $(this).parent().find(".texto_respuesta").val()
		var comment_id = $(this).data("id");
		var url_ajax = $(this).data("url")

		var data = {'texto_respuesta': texto_respuesta, 'comment_id': comment_id, 'csrfmiddlewaretoken': "{{csrf_token}}"}
		var submit_button = $(this);

		var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(response){
				respuesta = JSON.parse(response);
				var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');
							
				$(respuestas_div).append(
					"<div class=well>"+
					"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+respuesta[2]+"'>"+
					"<img class='img-responsive circular' src='"+respuesta[3]+"'>"+"</a>"+"&nbsp"+
					respuesta[1]+
					"</div>"
					);								
			},
			error: function(){
				CambiarTextoError(submit_button, "Responder");
			}
		})
	});

	$(".comment_notificacion").on("click", function(e){
		e.preventDefault();

		var texto_comment = $(this).parent().find(".texto_comment").val();
		var id_notificacion = $(this).data("id");
		var url_ajax = $(this).data("url");

		var data = {'texto_comment': texto_comment, 'id_notificacion': id_notificacion, 'csrfmiddlewaretoken': "{{csrf_token}}"}
		var submit_button = $(this);

		var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(response){
				respuesta = JSON.parse(response);
				var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');
							
				$(respuestas_div).append(
					"<div class=well>"+
					"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+respuesta[2]+"'>"+
					"<img class='img-responsive circular' src='"+respuesta[3]+"'>"+"</a>"+"&nbsp"+
					respuesta[1]+
					"</div>"
					);		
			},
			error: function(){
				CambiarTextoError(submit_button, "Comentar");
			}
		});
	});
	

	$(".form_comentario").validate({
		rules: {
			comentario: {
				required: true,
			}
		},
		messages: {
			comentario: "Escribe un comentario."
		}
	});
});

</script>
{% endblock extra_javascript %}

