{% extends 'base.html' %}

{% block content %}

<div class = "col-md-6 col-md-offset-1">
	<hr class = "half-margins invisible">
	<h2>Edita la información de {{biblioteca_compartida.nombre}}</h2>
	<form class="form-horizontal" action="{% url 'libros:editar_info_bcompartida' biblioteca_compartida.slug %}" method="post">
		{% csrf_token %}		
			<fieldset>
				{{form}}
			<br>
			<input class = "btn btn-success pull-right" type="submit" value="Enviar">
	</form>
	<hr class = "half-margins invisible">
</div>

<div class = "col-md-4">
    <hr class = "invisible">
    {% if not es_usuario_social %}  <!-- Si no hiso login con Fb o una red social, mostrar formulario editar info personal -->
        <p class = "well"><i class = "fa fa-cog"></i> Editar información <a href="{% url 'perfiles:editar_info_personal' %} ">personal</a>.</p>
    {% endif %}
</div>
<script type="text/javascript">	
</script>

{% endblock content %}
