{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class = "row">
        <div class = "col-md-10 col-md-offset-1">
        <hr class = "half-margins invisible">
        <!-- Busqueda -->
        <div>
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group btn-group">
                    <button id="elegir_autor" type="button" class="btn btn-default active">Autor</button>
                    <button id="elegir_titulo" type="button" class="btn btn-default">Título</button>
                </div>
            </div>

            <form id="form_buscar" method="get" action="" class="input-group">
                <input id="busqueda_input" type="text" class="form-control"
                       name="q" placeholder="Buscar por autor"/>
                <input id="busqueda_filtro" type="hidden" name="filtro" value="autor">
                <span class="input-group-btn">
                    <button id="buscar_libro" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>

            <div class="divider">
                <i class="fa fa-book"></i>
            </div>

            <p id="mostrar_todos" class="hidden">
                <a class = "pull-right" href="{% url 'libros:lista_libros_ciudad' ciudad.slug 'autor' %}">
                    Mostrar todos los libros <i class = "fa fa-list-ul"></i>
                </a>
            </p>

            <div id = "ordenar">
                {% if filtro == "autor" %}
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Autor <i class ="fa fa-pencil"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'libros:lista_libros_ciudad' ciudad.slug 'titulo' %}">Ordenar por Título <i class="fa fa-book"></i> </a></li>
                  </ul>
                </div>

                {% elif filtro == "titulo" %}
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Título <i class ="fa fa-book"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'libros:lista_libros_ciudad' ciudad.slug 'autor' %}">Ordenar por Autor <i class="fa fa-pencil"></i> </a></li>
                  </ul>
                </div>
                {% endif %}
            </div>

            <p id="nota_lista_libros">Éstos son todos los libros disponibles en las Bibliotecas Compartidas de {{ ciudad.name }}:</p>

            <div id = "libros">
                {% for l in libros_disponibles %}
                    <div class="alert callout alert-default">
                        <div class="row">
                            <h6><a href="">{{ l.biblioteca_compartida.nombre }} </a> - <strong>{{l.libro.titulo}}</strong> {{l.libro.autor}}
                            </h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <div class = "col-md-offset-5">
                <ul class="pagination">
                    {% if paginator.has_previous %}
                        <li><a href="?page={{ paginator.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>&laquo;</a></li>
                    {% endif %}

                    {% for numero_pagina in paginator.page_range %}
                        <li class="{% if numero_pagina == libros_disponibles.number %}active{% endif %}"><a href="?page={{numero_pagina}}">{{numero_pagina}}</a></li>
                    {% endfor %}

                    {% if paginator.has_next %}
                        <a href="?page={{ paginator.next_page_number }}">&raquo;</a>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}


{% block extra_javascript %}
<script src="{% static 'assets/js/jquery.loadTemplate-1.5.0.js' %}"></script>

<script type="text/html" id="resultado_busqueda">
    <div class="alert callout alert-default">
        <div class="row">
            <h6><a data-href="url_bcompartida" data-content="nombre_bcompartida"></a> -
                <strong data-content="libro_titulo"></strong> <span data-content="libro_autor"></span>
            </h6>
        </div>
    </div>
</script>

<script>
$(document).ready(function(){

// Buscar libro
$("#elegir_autor").on("click", function(e){
    e.preventDefault();
    $("#busqueda_input").attr("placeholder", "Buscar por autor");
    $("#busqueda_filtro").attr("value", "autor");
    $("#elegir_titulo").removeClass("active");
    $("#elegir_autor").addClass("active");
});

$("#elegir_titulo").on("click", function(e){
    e.preventDefault();
    $("#busqueda_input").attr("placeholder", "Buscar por titulo");
    $("#busqueda_filtro").attr("value", "titulo");
    $("#elegir_autor").removeClass("active");
    $("#elegir_titulo").addClass("active");
});

$("#buscar_libro").on("click", function(e){
    e.preventDefault();
    $("#libros").html('<div class = "well"> <i class = "centrar fa fa-circle-o-notch fa-spin"></i> </div>');

    var q = $("#busqueda_input").val();
    var filtro = $("#busqueda_filtro").val();

    $.ajax({
        method: "get",
        url: "{% url 'libros:buscar_ajax' ciudad.id %}",
        data: {'q': q, 'filtro': filtro},
        success: function(response){
                var libros_encontrados = JSON.parse(response);

                $("#libros").html("");

                $("#nota_lista_libros").html("<strong>"+ libros_encontrados.length + "</strong> libros encontrados");
                $("#mostrar_todos").removeClass("hidden");
                $("#ordenar").hide();

                $(libros_encontrados).each(function(index, value){
                    var el = $("<div/>");  // es necesario para el loadTemplate
                    var linea_libro = el.loadTemplate($("#resultado_busqueda"),{
                        url_bcompartida : value.url_bcompartida,
                        nombre_bcompartida: value.nombre_bcompartida,
                        libro_autor: value.autor,
                        libro_titulo: value.titulo
                    });
                    $("#libros").append(linea_libro);
                });
            },
        error: function(){
                alert("Hubo un error. Disculpa las molestias.")
            }
        });
    });
 });
</script>
{% endblock extra_javascript %}