{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- WELCOME -->
<section>

    <div style="width: 1000px; height: 500px;" id="video_libros"
      data-vide-bg="{% static 'assets/video/prueba.mp4' %}"
      data-vide-options="loop: true, muted: false, position: 0% 0%">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


	<div class="container">	
		<div class="row">
			<div class="col-md-6">
				<h1> Club de Libros Compartidos en <a href="{% url 'libros:libros_ciudad' 'quito' '18' %}">Quito</a></h1>
				<p class="lead">Deja que ese libro al fondo de tu escritorio sea leído una vez más, 
				<em class="styleColor">y ten acceso a los libros de otros miembros del club.</em></p>

				{% if user.is_authenticated %}
					<div class="divider"><!-- divider -->
						<i class="fa fa-user"></i>
					</div>
					<p> 
					Estás autenticado como <strong>{{perfil_usuario.usuario.username}}</strong>, continúa a tu <a href="{% url 'perfiles:perfil_propio' %}">perfil</a><br>
					o has <a href="{% url 'perfiles:logout' %}">logout</a> si deseas entrar con otra cuenta.
					</p>

				{% else %}
					<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-lg btn-block"><i class="fa fa-facebook"></i> Entra con Facebook</a>
					<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google-plus btn-lg btn-block"><i class="fa fa-google-plus"></i> Entra con Google</a>
				{% endif %}				
				<br>
			</div>
			<div class="col-md-6 text-center">

				<hr class="half-margins invisible" /><!-- divider 30px -->

				<!-- facebook fan page -->
				<div class="fb-page" data-width="500" data-href="https://www.facebook.com/letras.club" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>				
			</div>
		</div>

		<div class ="row">
			<div class="divider"><!-- divider -->
				<i class="fa fa-chevron-down"></i>
			</div>

			<div class ="col-md-10 col-md-offset-1">
				{% for n in notificaciones_main %}
					<!-- es un objeto n -->
					{% if n.tipo == "compartio_libro_grupo" %}
					<div class="alert callout alert-default">
						<div class="row">
							<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' n.perfil_actor.usuario.username %}">{{n.perfil_actor.usuario.username}}</a> compartió el libro 
								<strong> {{n.libro.titulo}} </strong> de <strong> {{n.libro.autor}}</strong> 
							con el grupo <a href="{% url 'grupos:main_grupo_actividad' n.grupo.id %}">{{n.grupo.nombre}}.</a>
							</p>
						</div>
					</div>
					
					{% elif n.tipo == "compartio_libro_abierto" %}

					<div class="alert callout alert-default">
						<div class="row">
							<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' n.perfil_actor.usuario.username %}">{{n.perfil_actor.usuario.username}}</a> compartió el libro 
								<strong> {{n.libro.titulo}} </strong> de <strong> {{n.libro.autor}}</strong> 
							con la comunidad de {{n.perfil_actor.ciudad.name}}.
							</p>
						</div>
					</div>

                    {% elif n.tipo == "bcompartida_compartio" %}

					<div class="alert callout alert-default">
						<div class="row">
							<p> <a target="blank" href="{% url 'libros:biblioteca_compartida' n.biblioteca_compartida.slug %}">
                                {{n.biblioteca_compartida.nombre}}</a> compartió el libro
								<strong> {{n.libro.titulo}} </strong> de <strong> {{n.libro.autor}}</strong>
							    con la comunidad de {{n.biblioteca_compartida.ciudad.name}}.
							</p>
						</div>
					</div>

					{% elif n.tipo == "comenzo_leer" %}
					<div class="alert callout alert-default">
						<div class="row">						
							<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' n.perfil_actor.usuario.username %}">{{n.perfil_actor.usuario.username}}</a> empezó a leer 
								<strong> {{n.libro.titulo}} </strong> de <strong> {{n.libro.autor}}.</strong> 
							</p>
						</div>
					</div>
					{% elif n.tipo == "termino_leer" %}
					<div class="alert callout alert-default">
						<div class="row">						
							<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' n.perfil_actor.usuario.username %}">{{n.perfil_actor.usuario.username}}</a> terminó de leer
								<strong> {{n.libro.titulo}} </strong> de <strong> {{n.libro.autor}}</strong>!
							</p>
						</div>
					</div>
					{% endif %}	
				{% endfor %}
			</div>

		</div>
	</div>
</section>
<!-- /WELCOME -->
{% endblock content %}

{% block extra_javascript %}
<script>
</script>
{% endblock extra_javascript %}
