{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/ui_autocomplete/jquery-ui.min.css' %} ">
{% endblock extra_css %}

{% block content %}

<!-- PAGE TOP -->
<!-- parallax -->
<div class="parallax parallax-1" style="background-image:url({% static 'assets/images/letrasclub/books_biblioteca.jpg' %});">
	<span class="parallax-overlay"></span>
	<div class="container parallax-content">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1">
				<a href="{% url 'libros:nuevo_libro' 'perfil' perfil_usuario.usuario.username %}"> Sumar un nuevo libro a tu <strong>biblioteca</strong></a>
			</div>
		</div>
	</div>
</div>
<!-- /parallax -->
<!-- /PAGE TOP -->

<div class = "col-md-10 col-md-offset-1">
	<br>
	<br>
	<h3>Tus libros prestados a otros usuarios</h3>
	{% for l in libros_prestados %}
	<div class="alert callout alert-default">
		<div class="row">
			<div class="col-md-8 col-sm-8"><!-- left text -->
				<h4><strong>{{l.libro.titulo}}</strong> {{l.libro.autor}}</h4>
				<div class="toggle transparent">
					<div class="toggle">
						<label><h6>
						Prestaste este libro a <a href="{% url 'perfiles:perfil_usuario' l.perfil_receptor.usuario.username %}">
						{{l.perfil_receptor.usuario.username}}</a>
						</h6></label>
						<div class="toggle-content">
							<p> 
								<small>
								Fecha máxima de devolución: {{l.fecha_max_devolucion}}. <br>
								Mensaje: '{{l.mensaje_aceptacion}}' <br>
								Teléfono de contacto en el perfil: {{l.perfil_receptor.numero_telefono_contacto}}. <br>
								Email: {{l.perfil_receptor.usuario.email}}.
								</small>
							</p>
						</div>
					</div>
				</div>
			</div><!-- /left text -->
			<div class = "col-md-1">
			</div>
			<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
				{% if l.receptor_anuncio_devolucion %}
					<p style="{color: red !important}">* {{l.perfil_receptor.usuario.username}} marcó este libro como devuelto</p>
					<a href="" rel="nofollow" class="btn btn-danger btn-lg marcar_devuelto" data-id="{{l.id}}">
					Marcar como Devuelto</a>
				{% else %}
					<a href="" rel="nofollow" class="btn btn-info btn-lg marcar_devuelto" data-id="{{l.id}}">
					Marcar como Devuelto</a>
				{% endif %}
			</div><!-- /right btn -->
		</div>
	</div>
	{% endfor %}

	<hr>

	<h3>Disponibles en tu biblioteca </h3>
	{% for l in libros_disponibles %}
		<!-- ACCORDION -->
		<div class="accordion panel-group" id="accordion">
			<div class="panel panel-default panel_info_disponible">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class = "mas_info_libro" data-id="{{l.id}}" data-url-target="{% url 'libros:info_grupos_libro' %}" data-click="0"
							data-toggle="collapse" data-parent="#accordion" href="#acordion{{forloop.counter}}">
							<i class="fa fa-toggle-down pull-right"></i>
							<h5><strong>{{l.libro.titulo}}</strong> &nbsp {{l.libro.autor}}</h5>
						</a>
					</h4>
				</div>
				<div id="acordion{{forloop.counter}}" class="collapse">
					<div class="panel-body">
						<p class = "mensaje_grupos"></p>
						<!--
						<a href="" rel="nofollow" class="btn btn-warning btn-lg marcar_no_disponible" data-id="{{l.id}}" title="Ya no estará disponible en tu Biblioteca">Marcar disponible para la comunidad</a>
						-->
						<div class = "grupos_prestado">
						</div>
					</div>
					<div>
						<div class="checkbox">
						   <label for="checkboxes-0">
						     &nbsp
						     <input class ="compartir_todos" type="checkbox" name="checkboxes" id="checkboxes-0" value="1" checked="false" 
						     	data-id="{{l.id}}" data-url-target="{% url 'libros:compartir_todos_ajax' %}">
							     <small>Compartir este libro con toda la comunidad de Letras.Club de {{perfil_usuario.ciudad.name}}
							    	 <i class = "fa fa-smile-o"></i>
						     	</small>
						   </label>
						</div>
					</div>					
				</div>
			</div>
		</div>
	{% endfor %}
	<hr>

	<h3> No Disponibles </h3>
	{% for l in libros_no_disponibles %}
	<div class="alert callout alert-default">
		<div class="row">
			<div class="col-md-9 col-sm-9"><!-- left text -->
				<h4><strong>{{l.libro.titulo}}</strong> {{l.libro.autor}}</h4>
			</div><!-- /left text -->			
			<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
			<a href="" rel="nofollow" class="btn btn-success btn-lg marcar_disponible" data-id="{{l.id}}" title="Este libro estará disponible en tu Biblioteca">
				Marcar como Disponible</a>
			</div><!-- /right btn -->
		</div>
	</div>
	{% endfor %}

	<hr class = "invisible">
</div>
{% endblock content %}

{% block extra_javascript %}
<script>
$(document).ready(function(){
	// autocomplete grupos, compartir libros con grupos
	$(".marcar_no_disponible").on("click", function(e){
		e.preventDefault();
		var libro_disp_id = $(this).data("id");
		$.ajax({
			method: "POST",
			url: "/libros/marcar_no_disponible/",
			data: {'id_libro_disp': libro_disp_id, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'tipo': 'perfil'},
			success: function(){
				location.reload();
			}
		});
	});
	$(".marcar_disponible").on("click", function(e){
		e.preventDefault();
		var id_libro = $(this).data("id");
		$.ajax({
			method: "POST",
			url: "/libros/marcar_disponible/",
			data: {'id_libro': id_libro, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'tipo': 'perfil'},
			success: function(){
				location.reload();
			}
		});
	});
	$(".marcar_devuelto").on("click", function(e){
		e.preventDefault();
		var id_libro = $(this).data("id");
		$.ajax({
			method: "POST",
			url: "/libros/marcar_devuelto/",
			data: {'id_libro': id_libro, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'tipo': 'perfil'},
			success: function(){
				location.reload();
			}
		});
	});
	
	// Funcion que procesa la respuesta ajax y cambia los grupos a renderearse cuando se da click en el libro
	// dependiendo si está disponible el libro en ese grupo.
	var procesar_respuesta_grupos = function(lista_grupos, respuesta_libros_grupos){
		// lista_grupos es el grupos_json parseado. respuesta_libros_grupos es el ajax response
		// devuelve una lista con el id, el nombre y el status, 0 o 1, dependiendo si está disponible
		var lista_ids_respuesta = []
		$.each(respuesta_libros_grupos, function(index, value){
			lista_ids_respuesta.push(parseInt(index));
		});

		var grupos_render = []
		$.each(lista_grupos, function(index, value){
			if ($.inArray(value[0], lista_ids_respuesta)>=0){
				grupos_render.push([value[0], value[1], 1]);
			} else {
				grupos_render.push([value[0], value[1], 0]);
			}
		});
		return grupos_render
	};

	function obtenerTag(valor){
		// Obtiene el tag que indica la accion que se puede hacer con el grupo, dejar de compartir o compartir
		var tag_html = ""		
		if (valor>0){
			tag_html = '<a title="Dejar de Compartir" class="no_compartir_grupo tag label label-default light" href=""><i class = "fa fa-close"></i></a> &nbsp'
		} else {
			tag_html = '<a title="Compartir con este Grupo" class="compartir_grupo tag label label-default light" href=""><i class = "fa fa-share"></i></a> &nbsp'
		}
		return tag_html
	};
	$(".mas_info_libro").on("click", function(e){
		e.preventDefault();
		if ($(this).data("click") == 0){
			var id_libro_disp = $(this).data("id");
			var url_ajax = $(this).data("url-target");
			var objeto_this = $(this);

			var grupos_usuario = JSON.parse('{{grupos_json|safe}}');
			// Si el usuario pertenece a algún grupo, ajax pidiendo los grupos en los que está disponible el libro
			if ((grupos_usuario.length)>0){
				$.ajax({
					method: "GET",
					url: url_ajax,
					data: {'id_libro_disponible': id_libro_disp},
					success: function(response){
						var respuesta = JSON.parse(response);
						respuesta_grupos = respuesta[1]
						if (respuesta_grupos !== null){
							var mensaje_grupos = (objeto_this).closest(".panel_info_disponible").find(".mensaje_grupos");
							var grupos_prestado = (objeto_this).closest(".panel_info_disponible").find(".grupos_prestado");
							mensaje_grupos.html("<i class = 'fa fa-group'></i>  Comparte este libro con tus grupos:");
							var grupos_render = procesar_respuesta_grupos(grupos_usuario , respuesta_grupos);
							
							$.each(grupos_render, function(index, value){
								grupos_prestado.append('<a class="tag_grupo tag label label-default light" target="_blank"'+
								'data-id-grupo="'+ value[0] + '"'+
								'data-id-libro="'+ id_libro_disp + '"'+
								'href="/grupos/main/'+value[0]+'/actividad/">'+value[1]+'</a>'+ obtenerTag(value[2]));
							});
						} else {
							var mensaje_grupos = (objeto_this).closest(".panel_info_disponible").find(".mensaje_grupos");
							mensaje_grupos.html("<i class = 'fa fa-group'></i>  No has compartido este libro con ningún grupo");
						}

						if (respuesta[0]){
							var checkbox_compartir = (objeto_this).find(".compartir_todos");
							console.log(checkbox_compartir);
							checkbox_compartir.prop("checked", true);
						}
					}
				});
			} else {
				var mensaje_grupos = (objeto_this).closest(".panel_info_disponible").find(".mensaje_grupos");
				mensaje_grupos.html("</small> <i class = 'fa fa-info-circle'></i> Únete a un grupo y comparte este libro exclusivamente con los miembros de ese grupo</small>");
			}
			
			// evitar que ocurra lo mismo si vuelve a dar click, si no se hacen append varios grupos, etc.
			$(this).data("click", "1");
		}
	});

	$(".grupos_prestado").on("click", ".compartir_grupo", function(e){
		e.preventDefault();
		var grupo_id = $(this).prev(".tag_grupo").data("id-grupo");
		var libro_disp_id = $(this).prev(".tag_grupo").data("id-libro");
		var data = {'grupo_id': grupo_id, 'libro_disp_id': libro_disp_id, 'csrfmiddlewaretoken': '{{csrf_token}}'};	
		var objeto_click = $(this);		

		$.ajax({
			method: "POST",
			url: '/libros/compartir_con_grupo_ajax/',
			data: data,
			success: function(){
				objeto_click.replaceWith('<a title="Dejar de Compartir" class="no_compartir_grupo tag label label-default light" href=""><i class = "fa fa-close"></i></a> &nbsp');				
			},
			error: function(response){
				console.log("error");
			}
		});
	});

	$(".grupos_prestado").on("click", ".no_compartir_grupo", function(e){
		e.preventDefault();
		var grupo_id = $(this).prev(".tag_grupo").data("id-grupo");
		var libro_disp_id = $(this).prev(".tag_grupo").data("id-libro");
		console.log(libro_disp_id);
		var data = {'grupo_id': grupo_id, 'libro_disp_id': libro_disp_id, 'csrfmiddlewaretoken': '{{csrf_token}}'};
		var objeto_click = $(this);

		$.ajax({
			method: "POST",
			url: "/libros/no_compartir_grupo_ajax/",
			data: data,
			success: function(){
				objeto_click.replaceWith('<a title="Compartir con este Grupo" class="compartir_grupo tag label label-default light" href=""><i class = "fa fa-share"></i></a> &nbsp');
			},
			error: function(response){
				console.log("error");
			}
		});
	});

	$(".compartir_todos").on("change", function(){
		var libro_disp_id = $(this).data("id");
		var url_ajax = $(this).data("url-target");
		var data = {'libro_disp_id': libro_disp_id, 'csrfmiddlewaretoken': '{{csrf_token}}'}
		console.log(libro_disp_id);
		console.log(data)

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(response){
				console.log("se cambio el estado de abierto_comunidad a: " + response);				
			},
			error: function(){
				console.log("error");
			}
		});
	});
});
</script>
{% endblock extra_javascript %}
