{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class = "col-md-6 col-md-offset-1">
	<br>
	<form id="form_compartir_libro" class="form-horizontal" action="{% url 'libros:nuevo_libro' tipo_dueno username %}" method="post">
		{% csrf_token %}		
			<fieldset>
				{{form}}
			<br>
			<input class = "btn btn-success pull-right" type="submit" value="Compartir">	
	</form>
	<hr class = "invisible">
</div>

<div class ="col-md-4">
	<hr class="invisible half-margins">
	<p class ="well">
	<i class = "fa fa-info-circle"></i>		
		El usuario al que le prestes este libro en el futuro podrá contactarte de las siguientes maneras:
		<br>
		<br>

		{% if user.email %}
			Tu correo electrónico: {{user.email}}
		{% else %}
			No tienes un correo electrónico registrado
		{% endif %}

		<br>

		{% if perfil_usuario.numero_telefono_contacto %}
			Tu número de teléfono: {{perfil_usuario.numero_telefono_contacto}}
		{% else %}
			<br>No tienes un número de contacto registrado. Por favor <a href="{% url 'perfiles:editar_perfil' %}">edita tu perfil</a> y añade un número de teléfono de contacto.
		{% endif %}

		<br><br>

		Las formas de contactarte que especifiques en tu mensaje de aceptación cuando le prestes el libro.

		<br><br>

		<i class ="fa fa-user-secret"></i> No usamos tus números de teléfono ni tu email para ningún otro fin.
		
	</p>
</div>

{% endblock content %}


{% block extra_javascript %}
<script type="text/javascript" src="{% static 'assets/js/jquery.validate.js' %}"></script>

<script>
$(document).ready(function(){
	$("#form_compartir_libro").validate({
		rules: {
			autor: {
				required: true,
				maxlength: 250
			},
			titulo: {
				required: true,
				maxlength: 250
			},

			descripcion: {
				required: false,
				maxlength: 2500
			}			
		},

		messages: {
			autor: {
				required: "Escribe el nombre del autor.",
				maxlength: "Escribe un autor de máximo 250 caracteres"
			},
			titulo: {
				required: "Escribe el título del libro",
				maxlength: "Escribe un título de máximo de 250 caracteres"
			},
			descripcion: "Escribe una descripcion de máximo 2500 caracteres.",			
		}
	});	
});
</script>
{% endblock extra_javascript %}
