<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Letras.Club</title>
	<meta name="keywords" content="Club, Libros, Quito, Compartir, Lectura, ClubLibros, Letras, LetrasClub" />
	<meta name="description" content="Red Social | Club Online para compartir Libros"/>
	<meta name="Author" content="letras.club" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="{% static 'assets/images/letrasclub/logo_letras.png' %}"/>

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/letrasclub/letras_small.ico' %}" />

	<!-- WEB FONTS -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	
	<!-- CORE CSS -->
	<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/weather-icons.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/line-icons.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/header-2.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/footer-default.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/color_scheme/brown.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/letrasclub/extra.css' %} ">

	{% block extra_css %}
	{% endblock extra_css %}

	<!-- Morenizr -->
	<script type="text/javascript" src="{% static 'assets/plugins/modernizr.min.js' %}"></script>

	<!-- Jquery -->		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body class = "boxed pattern1">

<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=496030367220511";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54967904-2', 'auto');
  ga('send', 'pageview');

</script>
	
	<div id="wrapper">

        <div id="header"> <!-- class="sticky" for sticky menu -->
            <!-- Top Nav -->
            <header id="topNav">
                <div class="container">

                    <!-- Logo -->
                    <a class="logo" href="{% url 'libros:main' %}" style="{}">
                        <img src="{% static 'assets/images/letrasclub/logo_completo.png' %}" height="50" alt="" />
                    </a>

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Top Nav -->
                    <div class="navbar-collapse nav-main-collapse collapse pull-right">
                        <nav class="nav-main">
                            <ul id="topMain" class="nav nav-pills nav-main">

                                <!--  PERFILES DESACTIVADOS
                                <li class="dropdown hidden-sm hidden-xs">
                                        <a class="dropdown-toggle hidden-sm hidden-xs" href="">
                                        {% if notificaciones %}
                                            <span class="badge notificaciones">{{notificaciones}}</span>
                                        {% endif %}
                                        {{user.username}}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'perfiles:perfil_propio' %}"><i class = "fa fa-user"></i> Perfil</a></li>
                                            <li><a href="{% url 'libros:mi_biblioteca' %}"><i class="fa fa-th"></i> Biblioteca</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{% url 'perfiles:editar_perfil' %}"><i class="fa fa-edit"></i> Editar Perfil</a></li>
                                            <li><a href="{% url 'perfiles:logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-md hidden-lg"><a href="{% url 'perfiles:perfil_propio' %}"><i class = "fa fa-user"></i> Perfil</a></li>
                                    <li class="hidden-md hidden-lg"><a href="{% url 'libros:mi_biblioteca' %}"><i class="fa fa-th"></i> Biblioteca</a></li>
                                    <li class="divider hidden-md hidden-lg">
                                    <li class="hidden-md hidden-lg"><a href="{% url 'perfiles:editar_perfil' %}"><i class="fa fa-edit"></i> Editar Perfil</a></li>
                                    <li class="hidden-md hidden-lg"><a href="{% url 'perfiles:logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                                -->

                                <li><a href="{% url 'perfiles:sobre_nosotros' %}">Sobre Nosotros
                                </a></li>

                                {# Catalogo de Quito remover cuando se abra a mas ciudades#}
                                <li><a href="{% url 'libros:lista_libros_ciudad' 'quito' 'autor' %}"><i class = "fa fa-list-ul"></i> Catálogo</a></li>

                                <li><a href="{% url 'libros:libros_ciudad' 'quito' '18' %}"><i class="fa fa-map-o"></i> Quito</a></li>

                                {% if user.is_authenticated %}
                                    {% if bcompartida_administrada %}
                                        <li class=""><a href="{% url 'libros:biblioteca_compartida' bcompartida_administrada.biblioteca_compartida.slug %}">
                                            <i class = "fa fa-map-marker"></i> {{ bcompartida_administrada.biblioteca_compartida.nombre }}</a>
                                        </li>
                                        <li><a href="{% url 'perfiles:logout' %}"><i class="fa fa-power-off"></i> Salir</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- /Top Nav -->

                </div><!-- /.container -->
            </header>
            <!-- /Top Nav -->
        </div>


        {% block content %}
        {% endblock content %}

    </div> <!-- wrapper -->

	<!-- JAVASCRIPT FILES -->
	<script type="text/javascript" src="{% static 'assets/plugins/jquery-2.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/jquery.isotope.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/masonry.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/knob/js/jquery.knob.js' %}"></script>
	

	<script type="text/javascript" src="{% static 'assets/js/scripts.js' %}"></script>

	{% block extra_javascript %}		
	{% endblock extra_javascript %}
</body>
</html>
