{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/ui_autocomplete/jquery-ui.min.css' %} ">
{% endblock extra_css %}

{% block content %}
<div class = "col-md-6 col-md-offset-1">
	<br>
	<form class="form-horizontal" method="post" action="{% url 'grupos:compartir_libro_grupo' grupo.id %}">
		<fieldset>
			{% csrf_token %}
			<!-- Form Name -->
			<legend>Compartir un libro con <a target="_blank" href="{% url 'grupos:main_grupo_actividad' grupo.id %}">{{grupo.nombre}}</a></legend>

			<!-- Multiple Radios -->
			<div class="form-group">			  
			  <div class="col-md-10 col-md-offset-1">
			  	<div class="radio">
				    <label for="radios-0">
				      <input id="c_existente" name="tipo_libro" value="existente" checked="checked" type="radio">
				      Compartir un libro <strong> existente </strong> en Mi Biblioteca.
				    </label>
				</div>
				<div class="radio">
				   <label for="radios-1">
				      <input id="c_nuevo" name="tipo_libro" value="nuevo" type="radio">
				      Compartir un <strong> nuevo </strong> libro.
				   </label>
				</div>
			  </div>
			</div>

			<div class="divider"> <!-- divider -->
				<i class="fa fa-book"></i>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <div class="col-md-12">
				  <input id="titulo" name="titulo" placeholder="Título" class="form-control input-md" type="text">
				  <span id="help_titulo" class="help-block">El título de un libro de tu Biblioteca.</span>				  
			  </div>
			  	  <input type="hidden" id="libro_disp_id" name="libro_disp_id" value="">
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <div class="col-md-12">
				  <input id="autor" name="autor" placeholder="Autor" class="form-control input-md" type="text">
				  <span class="help-block">El nombre del autor del Libro.</span>
			  </div>
			</div>

			<!-- Textarea -->
			<div id="input_descripcion" class="form-group hidden">
			  <div class="col-md-12">
			    <textarea class="form-control" name="descripcion" placeholder="Edición, traductor, un link a Amazon que muestre la versión del libro que tienes, el estado del libro o cualquier información extra que desees compartir."></textarea>
			    <span class="help-block">Opcional: una corta descripción.</span>
			  </div>
			</div>

			<input class = "btn btn-success pull-right" type="submit" value="Compartir">
		</fieldset>
	</form>

	<hr class = "invisible">
</div>

<div class ="col-md-4">
	<hr class="invisible half-margins">
	<p class ="well">
	<i class = "fa fa-info-circle"></i>		
		Si eliges "compartir un nuevo libro", el libro será añadido a <a target="_blank" href="{% url 'libros:mi_biblioteca' %}">tu biblioteca</a> donde puedes gestionar los grupos con los que compartes cada libro.
	</p>
</div>

{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'assets/js/jquery-ui-fold.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/ui_autocomplete/jquery-ui.min.js' %}"></script>

<script>
$(document).ready(function(){

	// esconder / aparecer descripcion
	$("#input_descripcion").hide();
	$("#input_descripcion").removeClass("hidden");
	$("#c_nuevo").on("change", function(){
		if ($(this).is(":checked")){
			$("#input_descripcion").show("fold");
			$("#help_titulo").text("El título del libro, se añadirá a tu Biblioteca.");
		}
	});

	$("#c_existente").on("change", function(){
		if ($(this).is(":checked")){
			$("#input_descripcion").hide("fold");
			$("#help_titulo").text("El título de un libro de tu Biblioteca")
		}
	});

	// autocomplete titulos / autores
	var titulos_autocomplete = []
	var titulos_list = JSON.parse('{{titulos_autocomplete|safe}}');
	console.log(titulos_list);
	$.each(titulos_list, function(key, value){	
		titulos_autocomplete.push(key);
	});

	var autores_autocomplete = []
	var autores_list = JSON.parse('{{autores_autocomplete|safe}}');
	$.each(autores_list, function(key, value){
		autores_autocomplete.push(key);
	});

	$("#titulo").autocomplete({
		source: titulos_autocomplete,
		minLength: 2,
		select: function(event, ui){
			var titulo_seleccionado = ui.item.value

			// Poner libro disponible id en el hidden input
			var id_libro_disp = titulos_list[titulo_seleccionado][0];
			$("#libro_disp_id").val(id_libro_disp);

			// Poner sugerencia de autor como placeholder en el input de autor
			var nombre_autor = titulos_list[titulo_seleccionado][1];
			$("#autor").attr("placeholder", nombre_autor+"?");
		}
	});

	$("#autor").autocomplete({
		source: autores_autocomplete,
		minLength: 2,
	});

	// validate !!
});
</script>
{% endblock extra_javascript %}
