{% extends 'base.html' %}

{% block content %}
<!-- PAGE TOP -->
<!-- parallax -->
<div class="parallax parallax-1" style="background-image:url({{grupo.imagen}});">
	<span class="parallax-overlay"></span>
	<div class="container parallax-content">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1">
				<h3> {{grupo.nombre}} </h3>
			</div>
		</div>
		{% if user.is_authenticated %}
			{% if not usuario_es_miembro %}
				{% if request_invitacion_enviada %}
					<div class="col-md-3 col-md-offset-1"><!-- button -->
						<a href="" class="btn btn-primary btn-lg disable">Solicitud Enviada</a>
					</div>
				{% else %}
					<div class="col-md-3 col-md-offset-1"><!-- button -->
						<a href="" class="request_entrar_grupo btn btn-primary btn-lg" data-url="{% url 'grupos:request_entrar_ajax' %}">Unirte al Grupo</a>
					</div>
				{% endif %}
			{% endif %}

		{% else %}
			<div class="col-md-3 col-md-offset-1"><!-- button -->
				<a href="" class="request_entrar_grupo btn btn-primary btn-lg" data-url="{% url 'libros:main' %}">Has login para ser parte de los grupos de Letras.Club
				</a>
			</div>
		{% endif %}
	</div>
</div>
<!-- /parallax -->
<!-- /PAGE TOP -->

<!-- modal solicitar entra al grupo -->
<div class="modal fade" id="modal_solicitud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header"><!-- modal header -->
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="103">{{grupo.nombre}}</h4>
			</div><!-- /modal header -->

			<!-- modal body -->
			<div class="modal-body">
				Has enviado una solicitud para entrar al grupo <strong> {{grupo.nombre}} </strong>. <br><br>
				
				{% if grupo.tipo == 2 or grupo.tipo == 4 %}
					Un administrador debe aceptar la solicitud, cuando lo haga, te enviaremos un correo a <i>{{user.email}}</i>.
				{% else %}
					Un miembro del grupo debe aceptar la solicitud, cuando lo haga, te enviaremos un correo a <i>{{user.email}}</i>.
				{% endif %}
			</div>
			<!-- /modal body -->
		</div>
	</div>
</div>

{% if usuario_es_admin %}
	<a class ="pull-right" href="{% url 'grupos:editar_grupo' grupo.id %}"><i class ="fa fa-edit"></i> Editar Grupo &nbsp</a> <!-- !!! Falta -->
{% endif %}

<!-- centro -->
<div class = "col-md-8">
	<hr class ="half-margins invisible">

	<button class = "btn btn-primary" onclick="location.href='{% url 'grupos:main_grupo_actividad' grupo.id %}'" >Actividad</button>
	<button class = "btn btn-primary" onclick="location.href='{% url 'grupos:main_grupo_libros' grupo.id 'titulo' %}'" >Libros</button>
	<hr class = "half-margins invisible">

	{% if filtro == "libros" %}
		<!-- queryset=libros -->
		{% if ordenar_por == "autor" %}
			<div class="widget">
				<form method="get" action="{% url 'grupos:buscar_libro_grupo' grupo.id 'autor' %} " class="input-group">
					<input type="text" class="form-control" name="q" placeholder="Buscar Autor" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</span>
				</form>
			</div>
			<br>
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Autor <i class ="fa fa-pencil"></i></button>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'grupos:main_grupo_libros' grupo.id 'titulo' %}">Ordenar por Título <i class="fa fa-book"></i> </a></li>
			  </ul>
			</div><!-- /btn-group -->
		{% else %}
			<div class="widget">
				<form method="get" action="{% url 'grupos:buscar_libro_grupo' grupo.id 'titulo' %}" class="input-group">
					<input type="text" class="form-control" name="q" placeholder="Buscar Título" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</span>
				</form>
			</div>
			<br>
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Título <i class ="fa fa-book"></i></button>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'grupos:main_grupo_libros' grupo.id 'autor' %}">Ordenar por Autor <i class="fa fa-pencil"></i> </a></li>
			  </ul>
			</div><!-- /btn-group -->				
		{% endif %}

		{% for l in libros_disponibles %}
			<div class="alert callout alert-default">
				<div class="row">
					<div class="col-md-9 col-sm-9"><!-- left text -->
						<h4><strong>{{l.libro.titulo}}</strong> {{l.libro.autor}} </h4>
						<a href="{% url 'perfiles:perfil_usuario' l.perfil.usuario.username %}">
							<i class = "fa fa-user"></i>{{l.perfil.usuario.username}}
						</a>
					</div><!-- /left text -->
					
					{% if l.perfil != perfil_usuario and user.is_authenticated %}
					<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
						<a href="{% url 'libros:pedir_libro' l.id %}" rel="nofollow" target="_blank" class="btn btn-default btn-lg">Pedir Libro</a>
					</div><!-- /right btn -->
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<!-- Actividad -->
		{% for act in actividad %}
			{% if act.1 == "comment" %}				
				<!-- es un comentario -->
			{% else %}
				<!-- es un objeto Notificacion -->
				{% if act.0.tipo == "compartio_libro_grupo" %}	
				<div class="alert callout alert-default">
					<div class="row">
						<a title="Ver libros disponibles en {{grupo.nombre}}" href="{% url 'grupos:main_grupo_libros' grupo.id 'titulo' %}">
							<i class = "pull-right fa fa-book"></i>
						</a>
						<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> compartió el libro 
						<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong> 
						con el grupo!
						</p>
					</div>
				</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}


</div>
<!-- centro -->


<!-- sidebar -->
<div class ="col-md-4">

	<hr class ="half-margins invisible">
	
	<div>
		<button id="" onclick="location.href='{% url 'grupos:compartir_libro_grupo' grupo.id %}'" class = "btn btn-warning" >
		&nbsp Compartir un libro con el grupo &nbsp 
		<i class="fa fa-share"></i></button>		
	</div>

	<div class="divider"><!-- divider -->
		<i class="fa fa-chevron-down"></i>
	</div>

	<p>	
		{{grupo.descripcion}}
	</p>
	<p class = "pull-right">
		{% if grupo.tipo == 1 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es abierto y cualquier miembro puede sumar a un usuario al grupo." href=""> Abierto </a>
		{% elif grupo.tipo == 2 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es abierto y solo los administradores pueden sumar a un usuario al grupo." href=""> Abierto - Admins </a>
		{% elif grupo.tipo == 3 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es cerrado y cualquier miembro puede sumar un usuario al grupo." href=""> Cerrado </a>
		{% elif grupo.tipo == 4 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es cerrado y solo los administradores pueden sumar a un usuario al grupo." href=""> Cerrado - Admins </a>
		{% endif %}
	</p>
	<hr class ="half-margins invisible">

	<h5> Miembros </h5>
	<div class="alert callout alert-default">
		<div class = "row">
			{% for miembro in miembros %}
				{% if miembro.es_admin %}
					<a title="{{miembro.usuario.usuario.username}}  -  Administrador" href="{% url 'perfiles:perfil_usuario' miembro.usuario.usuario.username %}">
					<img src="{{miembro.usuario.imagen_perfil}}" class="img-responsive circular_admin"></a>
				{% endif %}
			{% endfor %}

			{% for miembro in miembros %}
				{% if not miembro.es_admin %}
					<a title="{{miembro.usuario.usuario.username}}" href="{% url 'perfiles:perfil_usuario' miembro.usuario.usuario.username %}">
					<img src="{{miembro.usuario.imagen_perfil}}" class="img-responsive circular"></a>
				{% endif %}	
			{% endfor %}
		</div>
	</div>

	{% if usuario_es_miembro %}
		<a class ="pull-right" href ="{% url 'grupos:invitar' grupo.id %}"> Invitar a alguien al grupo <i class= "fa fa-plus"></i></a>
	{% endif %}

	{% if requests_entrar_grupo %}
		<h3> Solicitudes de Miembros </h3>
	{% endif %}

	{% for r in requests_entrar_grupo %} <!-- Poner solicitudes de miembros con imágenes de perfil y el Aceptar en la mitad del alert -->
		<div class ="alert callout alert-warning">
			{% if r.invitado_por %}
				<p>
					<a target="_blank" href="{% url 'perfiles:perfil_usuario' r.invitado_por.usuario.username %}">{{r.invitado_por.usuario.username}}</a> invitó a 
					<a target="_blank" href="{% url 'perfiles:perfil_usuario' r.invitado_por.usuario.username %}">{{r.usuario_invitado.usuario.username}}</a>
					al grupo
				</p>
			{% else %}
				<p>
					<a target="_blank" href="{% url 'perfiles:perfil_usuario' r.usuario_invitado.usuario.username %}">{{r.usuario_invitado.usuario.username}}</a> ha solicitado unirse al grupo
				</p>				
			{% endif %}
				<p>
				<a href="#" class="aceptar_invitacion" data-request-id="{{r.id}}" data-url="{% url 'grupos:aceptar_ajax' %}">Aceptar 
				<i class ="fa fa-check"></i></a> | <a class="negar_invitacion" data-request-id="{{r.id}}" data-url="{% url 'grupos:negar_invitacion_ajax' %}" href="#">
				<i class ="fa fa-close"></i></a>
				</p>
		</div>
	{% endfor %}

	<hr>
</div>
<!-- sidebar -->
{% endblock content %}

{% block extra_javascript %}
<script>
$(document).ready(function(){

	$(".request_entrar_grupo").on("click", function(e){
		e.preventDefault()
		var grupo_id = "{{grupo.id}}";
		var data = {'grupo_id': grupo_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
		
		$.ajax({
			method: "POST",
			url: $(".request_entrar_grupo").data("url"),
			data: data,
			success: function(){
				$("#modal_solicitud").modal("show");
				$(".request_entrar_grupo").text("Solicitud Enviada");
				$(".request_entrar_grupo").removeClass("request_entrar_grupo");
			}
		});
	});

	$(".aceptar_invitacion").on("click", function(){
		var requestId = $(this).data("request-id");
		var data = {'requestId': requestId, 'csrfmiddlewaretoken': '{{ csrf_token }}'};

		$.ajax({
			method: "POST",
			url: $(".aceptar_invitacion").data("url"),
			data: data,
			success: function(){
				alert()
			},
			error: function(){
				alert("Hubo un error al aceptar la invitación, disculpa las molestias");
			}
		});
	});

	$(".negar_invitacion").on("click", function(){
		var requestId = $(this).data("request-id");
		var data = {'requestId': requestId, 'csrfmiddlewaretoken': '{{ csrf_token }}'}

		$.ajax({
			method: "POST",
			url: $(".negar_invitacion").data("url"),
			data: data,
			success: function(){
				location.reload()
			},
			error: function(){
				alert("Hubo un error al rechazar la invitación, disculpa las molestias");
			}
		});
	});

	$(".info_abierto_cerrado").on("click", function(e){
		e.preventDefault();
	});
});
</script>
{% endblock extra_javascript %}
