{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- PAGE TOP -->
<!-- parallax -->
<div class="parallax parallax-1" style="background-image:url({% static 'assets/images/letrasclub/books_biblioteca.jpg' %});">
	<span class="parallax-overlay"></span>
	<div class="container parallax-content">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1">
				<h3> {{grupo.nombre}} </h3>
			</div>
		</div>
		{% if user.is_authenticated %}
			{% if not usuario_es_miembro %}
				{% if request_invitacion_enviada %}
					<div class="col-md-3 col-md-offset-1"><!-- button -->
						<a href="" class="btn btn-primary btn-lg disable">Solicitud Enviada</a>
					</div>
				{% else %}
					<div class="col-md-3 col-md-offset-1"><!-- button -->
						<a href="" class="request_entrar_grupo btn btn-primary btn-lg" data-url="{% url 'grupos:request_entrar_ajax' %}">Unirte al Grupo</a>
					</div>
				{% endif %}
			{% endif %}
		{% else %}
			<div class="col-md-3 col-md-offset-1"><!-- button -->
				<a href="{% url 'libros:main' %}" class="btn btn-primary btn-lg">
					Entra a Letras.Club para ser parte de los grupos
				</a>
			</div>
		{% endif %}
	</div>
</div>
<!-- /parallax -->
<!-- /PAGE TOP -->

<!-- modal solicitar entra al grupo -->
<div class="modal fade" id="modal_solicitud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header"><!-- modal header -->
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="103">{{grupo.nombre}}</h4>
			</div><!-- /modal header -->

			<!-- modal body -->
			<div class="modal-body">
				Has enviado una solicitud para entrar al grupo <strong> {{grupo.nombre}} </strong>. <br><br>
				
				{% if grupo.tipo == 2 or grupo.tipo == 4 %}
					Un administrador debe aceptar la solicitud, cuando lo haga, te enviaremos un correo a <i>{{user.email}}</i>.
				{% else %}
					Un miembro del grupo debe aceptar la solicitud, cuando lo haga, te enviaremos un correo a <i>{{user.email}}</i>.
				{% endif %}
			</div>
			<!-- /modal body -->
		</div>
	</div>
</div>

{% if usuario_es_admin %}
	<a class ="pull-right" href="{% url 'grupos:editar_grupo' grupo.id %}"><i class ="fa fa-edit"></i> Editar Grupo &nbsp</a> <!-- !!! Falta -->
{% endif %}

<!-- centro -->
<div class = "col-md-8">
	<hr class ="half-margins invisible">

	{% if filtro == "libros" %}
		<button class = "btn btn-primary" onclick="location.href='{% url 'grupos:main_grupo_actividad' grupo.id %}'">Actividad</button>
		<button class = "btn btn-primary active">Libros</button>
	{% else %}
		<button class = "btn btn-primary active">Actividad</button>
		<button class = "btn btn-primary" onclick="location.href='{% url 'grupos:main_grupo_libros' grupo.id 'titulo' %}'">Libros</button>
	{% endif %}
	<hr class = "half-margins invisible">

	{% if filtro == "libros" %}
		<!-- queryset=libros -->
		{% if ordenar_por == "autor" %}
			<div class="widget">
				<form method="get" action="{% url 'grupos:buscar_libro_grupo' grupo.id 'autor' %} " class="input-group">
					<input type="text" class="form-control" name="q" placeholder="Buscar Autor" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</span>
				</form>
			</div>
			<br>
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Autor <i class ="fa fa-pencil"></i></button>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'grupos:main_grupo_libros' grupo.id 'titulo' %}">Ordenar por Título <i class="fa fa-book"></i> </a></li>
			  </ul>
			</div><!-- /btn-group -->
		{% else %}
			<div class="widget">
				<form method="get" action="{% url 'grupos:buscar_libro_grupo' grupo.id 'titulo' %}" class="input-group">
					<input type="text" class="form-control" name="q" placeholder="Buscar Título" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</span>
				</form>
			</div>
			<br>
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Título <i class ="fa fa-book"></i></button>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'grupos:main_grupo_libros' grupo.id 'autor' %}">Ordenar por Autor <i class="fa fa-pencil"></i> </a></li>
			  </ul>
			</div><!-- /btn-group -->				
		{% endif %}

		{% for l in libros_disponibles %}
			<div class="alert callout alert-default">
				<div class="row">
					<div class="col-md-9 col-sm-9"><!-- left text -->
						<h4><strong>{{l.libro.titulo}}</strong> {{l.libro.autor}} </h4>
						<a href="{% url 'perfiles:perfil_usuario' l.perfil.usuario.username %}">
							<i class = "fa fa-user"></i>{{l.perfil.usuario.username}}
						</a>
					</div><!-- /left text -->
					
					{% if l.perfil != perfil_usuario and user.is_authenticated %}
					<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
						<a href="{% url 'libros:pedir_libro_grupo' l.id grupo.id %}" rel="nofollow" target="_blank" class="btn btn-default btn-lg">Pedir Libro</a>
					</div><!-- /right btn -->
					{% endif %}
				</div>
			</div>
		{% endfor %}
	
	{% else %}
	<!--queryset actividad-->

		{% if usuario_es_miembro %}
			<!-- Comment form -->	
			<form action="{% url 'comments:comentar_grupo' grupo.id %}" method="post" class="sky-form boxed form_comentario">
				{% csrf_token %}
				<fieldset>							
					<section>
						<label class="textarea">
							<i class="icon-append fa fa-comments"></i>
							<textarea placeholder="Escribe un comentario para el grupo..." name = "comentario" rows="3"></textarea>
						</label>
					</section>
				</fieldset>			
				<footer>
					<button type="submit" class="button">Publicar</button>
				</footer>
				<br>
			</form>	
		{% endif %}

		<!-- Actividad -->
		{% for act in actividad %}
			{% if act.1 == "comment" %}
				<div class="alert callout alert-default">
					<div class="row parent_comment">
						<a class="pull-left" href="{% url 'perfiles:perfil_usuario' act.0.perfil.usuario.username %}">
							<img src="{{act.0.perfil.imagen_perfil}}" class="img-responsive circular">
						</a>
						
							&nbsp {{act.0.texto}}

							<a data-id="{{ act.0.id }}" data-url-ajax="{% url 'comments:respuestas_comment_grupo_ajax' %}" data-clicked="0"
							class="show_respuestas_comment cerrado pull-right" href="">
								<i class = "fa fa-comment"></i>
								{{act.0.num_respuestas|default:""}}							
							</a>
							<div class = "hidden comments">
								<br>
								<div class = "col-md-offset-1 div_respuestas">
									<div class = "respuestas_comment">
									</div>
									{% if usuario_es_miembro %}
									<!-- Comment form -->	
									<form action="" method="post" class="sky-form">
										{% csrf_token %}
										<fieldset>
											<section>
												<label class="textarea">
													<i class="icon-append fa fa-comment fa-flip-horizontal"></i>
													<textarea class="texto_respuesta" placeholder="Escribe una respuesta para {{act.0.perfil.usuario.username}}" 
													name = "comentario" rows="2"></textarea>
												</label>
											</section>
											<button data-id="{{act.0.id}}" data-url="{% url 'comments:responder_comment_grupo_ajax' %}" type="submit" class="button enviar_respuesta">
											Responder</button>
										</fieldset>			
									</form>
									{% endif %}
								</div>
							</div>
					</div>
				</div>
			{% else %}
				<!-- es un objeto Notificacion -->
				<div class="alert callout alert-default">
					<div class="row">
						<a data-id="{{ act.0.id }}" data-url-ajax="{% url 'comments:respuestas_notificacion_ajax' %}" data-clicked="0"
						class="show_comments_notificacion cerrado pull-right" href="">
							<i class = "fa fa-comment"></i>
							{{act.0.num_respuestas|default:""}}							
						</a>
						{% if act.0.tipo == "compartio_libro_grupo" %}
							<a title="Ver libros disponibles en {{grupo.nombre}}" href="{% url 'grupos:main_grupo_libros' grupo.id 'titulo' %}">
								<i class = "pull-right fa fa-book"></i>
							</a>
							<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> compartió el libro 
							<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong> 
							con el grupo!
							</p>
						{% elif act.0.tipo == "comenzo_leer" %}
							<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> empezó a leer 
							<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong> 
							</p>
						{% elif act.0.tipo == "termino_leer" %}
							<p> <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> terminó de leer
							<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong>!
							</p>
						{% elif act.0.tipo == "presto_libro" %}
							<p><a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_actor.usuario.username %}">{{act.0.perfil_actor.usuario.username}}</a> prestó el libro 
							<strong> {{act.0.libro.titulo}} </strong> de <strong> {{act.0.libro.autor}}</strong> 
							a <a target="blank" href="{% url 'perfiles:perfil_usuario' act.0.perfil_target.usuario.username %}">{{act.0.perfil_target.usuario.username}}</a>.
							</p>
						{% endif %}						
						<div class = "hidden comments">
							<br>
							<div class = "col-md-offset-1 div_respuestas">
								<div class = "respuestas_comment">
								</div>
								{% if usuario_es_miembro %}
								<!-- Comment form -->	
								<form action="" method="post" class="sky-form">
									{% csrf_token %}
									<fieldset>
										<section>
											<label class="textarea">
												<i class="icon-append fa fa-comment fa-flip-horizontal"></i>
												<textarea class="texto_comment" placeholder="Escribe tu comentario" 
												name = "comentario" rows="2"></textarea>
											</label>
										</section>
										<button data-id="{{act.0.id}}" data-url="{% url 'comments:comment_notificacion_ajax' %}" type="submit" class="button comment_notificacion">
										Comentar
										</button>
									</fieldset>
								</form>
								{% else %}
									<p class="pull-right" title="Necesitas estar registrado para poder comentar"><i class="fa fa-lock"></i></p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
<!-- centro -->


<!-- sidebar -->
<div class ="col-md-4">

	{% if usuario_es_miembro %}
	<hr class = "half-margins invisible">
	<!-- Estoy Leyendo -->
	<div class="accordion panel-group" id="accordion">
		<div class="panel panel-default panel_info_disponible">
			<div class="panel-heading">
				<p class="panel-title">					
					<a class = "mas_info_libro" data-id="{{l.id}}" data-url-target="" data-click="0"
						data-toggle="collapse" data-parent="#accordion" href="#acc_estoy_leyendo">
						{% if actualmente_leyendo %}
							Estoy leyendo &nbsp <strong>{{ actualmente_leyendo.libro.titulo }}</strong>
						{% else %}
							¿Estás leyendo un libro?
						{% endif %}
					</a>
				</p>
			</div>
			<div id="acc_estoy_leyendo" class="collapse">
				<div class="panel-body">
					{% if actualmente_leyendo %}
					<div class = "row">
						<a id="comenzo_otro_libro" class="pull-right">Comencé a leer otro libro</a>
						<div id="hidden_leyendo" class = "hidden">
							<div class = "row">
								<form class="form-horizontal form_leyendo" method="post" action="">
									{% csrf_token %}
									<div class="form-group">
										<div class="col-md-12">
										  <input id="titulo" name="titulo" placeholder="Título" class="form-control input-md" type="text">
										</div>
									</div>
				  	  				<input type="hidden" id="libro_id" name="libro_id" value="">
									<!-- Text input-->
									<div class="form-group">
									  <div class="col-md-12">
										  <input id="autor" name="autor" placeholder="Autor" class="form-control input-md" type="text">						
									  </div>
									</div>
									<button data-url="{% url 'perfiles:leyendo_libro_ajax' %}" id="submit_leyendo" class = "btn btn-success pull-right" type="submit">
									Enviar
									</button>
								</form>
							</div>
							<hr class ="half-margins">
						</div>
					</div>
					{% else %}
						<div class = "row">
							<form class="form-horizontal form_leyendo" method="post" action="">
								{% csrf_token %}
								<div class="form-group">
									<div class="col-md-12">
									  <input id="titulo" name="titulo" placeholder="Título" class="form-control input-md" type="text">
									</div>
								</div>
			  	  				<input type="hidden" id="libro_id" name="libro_id" value="">
								<!-- Text input-->
								<div class="form-group">
								  <div class="col-md-12">
									  <input id="autor" name="autor" placeholder="Autor" class="form-control input-md" type="text">						
								  </div>
								</div>
								<button data-url="{% url 'perfiles:leyendo_libro_ajax' %}" id="submit_leyendo" class = "btn btn-success pull-right" type="submit">
								Enviar
								</button>
							</form>
						</div>	
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<hr class ="half-margins invisible">
	
	<div>
		<button id="" onclick="location.href='{% url 'grupos:compartir_libro_grupo' grupo.id %}'" class = "btn btn-warning" >
		&nbsp Compartir un libro con el grupo &nbsp 
		<i class="fa fa-share"></i>
		</button>
	</div>

	{% endif %} <!-- usuario_es_miembro -->

	<div class="divider"><!-- divider -->
		<i class="fa fa-chevron-down"></i>
	</div>

	
	<p>	
		{{grupo.descripcion}}
	</p>
	<p class = "pull-right">
		{% if grupo.tipo == 1 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es abierto y cualquier miembro puede sumar a un usuario al grupo." href=""> Abierto </a>
		{% elif grupo.tipo == 2 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es abierto y solo los administradores pueden sumar a un usuario al grupo." href=""> Abierto - Admins </a>
		{% elif grupo.tipo == 3 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es cerrado y cualquier miembro puede sumar un usuario al grupo." href=""> Cerrado </a>
		{% elif grupo.tipo == 4 %}
			<a class="info_abierto_cerrado" data-toggle="tooltip" data-placement="left" data-original-title="Este grupo es cerrado y solo los administradores pueden sumar a un usuario al grupo." href=""> Cerrado - Admins </a>
		{% endif %}
	</p>
	<hr class ="half-margins invisible">

	<h5> Miembros </h5>
	<div class="alert callout alert-default">
		<div class = "row">
			{% for miembro in miembros %}
				{% if miembro.es_admin %}
					<a title="{{miembro.perfil.usuario.username}}  -  Administrador" href="{% url 'perfiles:perfil_usuario' miembro.perfil.usuario.username %}">
					<img src="{{miembro.perfil.imagen_perfil}}" class="img-responsive circular_admin"></a>
				{% endif %}
			{% endfor %}

			{% for miembro in miembros %}
				{% if not miembro.es_admin %}
					<a title="{{miembro.perfil.usuario.username}}" href="{% url 'perfiles:perfil_usuario' miembro.perfil.usuario.username %}">
					<img src="{{miembro.perfil.imagen_perfil}}" class="img-responsive circular"></a>
				{% endif %}	
			{% endfor %}
		</div>
	</div>

	{% if usuario_es_miembro %}
		<div class = "row">
			<a class ="pull-right" href ="{% url 'grupos:invitar' grupo.id %}"> Agregar personas al grupo <i class= "fa fa-plus"></i> &nbsp</a>
		</div>
	{% endif %}
	
	<hr class="half-margins">

	{% for r in requests_entrar_grupo %}
		<div class ="alert callout alert-default">
			<div class = "row">
				<p class ="pull-right">
					<a href="#" class="aceptar_invitacion" data-request-id="{{r.id}}" data-url="{% url 'grupos:aceptar_ajax' %}">Aceptar 
					<i class ="fa fa-check"></i></a> | 
					<a title="rechazar" class="negar_invitacion" data-request-id="{{r.id}}" data-url="{% url 'grupos:negar_invitacion_ajax' %}" href="#">
					<i class ="fa fa-close"></i></a>
				</p>
			</div>
			<div class ="row">
			{% if r.invitado_por %}
				<p>
					<a target="_blank" href="{% url 'perfiles:perfil_usuario' r.invitado_por.usuario.username %}">
						<img src="{{r.invitado_por.imagen_perfil}}" class="img-responsive circular">{{r.invitado_por.usuario.username}}
					</a> invitó a 
					<a target="_blank" href="{% url 'perfiles:perfil_usuario' r.usuario_invitado.usuario.username %}">
						<img src="{{r.usuario_invitado.imagen_perfil}}" class="img-responsive circular">{{r.usuario_invitado.usuario.username}}
					</a>
					al grupo.
				</p>
			{% else %}
				<p>					
					<a title= "{{r.usuario_invitado.usuario.username}}" target="_blank" href="{% url 'perfiles:perfil_usuario' r.usuario_invitado.usuario.username %}">
						<img src="{{r.usuario_invitado.imagen_perfil}}" class="img-responsive circular">
						{{r.usuario_invitado.usuario.username}}
					</a> a solicitado unirse al grupo.
				</p>				
			{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
<!-- sidebar -->
{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'assets/js/jquery-ui-fold.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.validate.js' %}"></script>

<script>

$(document).ready(function(){

	$(".request_entrar_grupo").on("click", function(e){
		e.preventDefault()
		var grupo_id = "{{grupo.id}}";
		var data = {'grupo_id': grupo_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
		
		$.ajax({
			method: "POST",
			url: $(".request_entrar_grupo").data("url"),
			data: data,
			success: function(){
				$("#modal_solicitud").modal("show");
				$(".request_entrar_grupo").text("Solicitud Enviada");
				$(".request_entrar_grupo").removeClass("request_entrar_grupo");
			}
		});
	});

	$(".aceptar_invitacion").on("click", function(){
		var requestId = $(this).data("request-id");
		var data = {'requestId': requestId, 'csrfmiddlewaretoken': '{{ csrf_token }}'};

		$.ajax({
			method: "POST",
			url: $(".aceptar_invitacion").data("url"),
			data: data,
			success: function(){
				alert()
			},
			error: function(){
				alert("Hubo un error al aceptar la invitación, disculpa las molestias");
			}
		});
	});

	$(".negar_invitacion").on("click", function(){
		var requestId = $(this).data("request-id");
		var data = {'requestId': requestId, 'csrfmiddlewaretoken': '{{ csrf_token }}'}

		$.ajax({
			method: "POST",
			url: $(".negar_invitacion").data("url"),
			data: data,
			success: function(){
				location.reload()
			},
			error: function(){
				alert("Hubo un error al rechazar la invitación, disculpa las molestias");
			}
		});
	});

	$(".info_abierto_cerrado").on("click", function(e){
		e.preventDefault();
	});

	// "Comencé a leer otro libro"
	$("#comenzo_otro_libro").on("click", function(e){
		e.preventDefault();
		$("#hidden_leyendo").removeClass("hidden");
		$(this).addClass("hidden");
	});

	// Submit nuevo libro leyendo.
	$("#submit_leyendo").on("click", function(e){
		e.preventDefault();
		var libro_id = $("#libro_id").val();
		var autor = $("#autor").val();
		var titulo = $("#titulo").val();
		var data = {'autor': autor, 'titulo': titulo, 'libro_id': libro_id, 'csrfmiddlewaretoken': '{{csrf_token}}'};
		var submit_button = $(this);

		var url_ajax = $(this).data("url")

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(){				
				location.reload();
			},
			error: function(){				
				CambiarTextoError(submit_button, "Enviar")
			}
		});
	});	


	// Funcionalidades de comentarios
	
	// Esconder comentarios
	$(".comments").hide();
	$(".comments").removeClass("hidden");

	$(".show_respuestas_comment").on("click", function(e){
		e.preventDefault();
		var comments_div = $(this).parent().find(".comments")

		if( $(this).hasClass("cerrado") ){
			comments_div.show("fold");
			$(this).removeClass("cerrado");
		} else{
			comments_div.hide("fold");
			$(this).addClass("cerrado");
		}

		// revisar data-clicked para definir si es necesario hacer request por las respuestas o no		
		if($(this).data("clicked")==0){			
			// ajax pide respuestas al comment
			var id_comment = $(this).data("id");
			var url_ajax = $(this).data("url-ajax");
			var icon_abrir_comments = $(this);

			$.ajax({
				method: "GET",
				url: url_ajax,
				data: {'id_comment': id_comment},
				success: function(response){
					respuestas = JSON.parse(response);
					var respuestas_div = icon_abrir_comments.parent().find('.respuestas_comment');
				
					$.each(respuestas, function(index, value){
					$(respuestas_div).append(
						"<div class=well>"+
						"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+value[2]+"'>"+
						"<img class='img-responsive circular' src='"+value[3]+"'>"+"</a>"+"&nbsp"+
						value[1]+
						"</div>"
						);
					});

					// cambiar data "clicked" a 1 para que no vuelva a cargar en caso de que cierre y abra los comments de nuevo
					icon_abrir_comments.data("clicked", "1");
				}
			});
		} 
	});

	$(".show_comments_notificacion").on("click", function(e){
		e.preventDefault();
		var comments_div = $(this).parent().find(".comments")

		if( $(this).hasClass("cerrado") ){
			comments_div.show("fold");
			$(this).removeClass("cerrado");
		} else{
			comments_div.hide("fold");
			$(this).addClass("cerrado");
		}

		// revisar data-clicked para definir si es necesario hacer request por las respuestas o no
		
		if($(this).data("clicked")==0){			
			// ajax pide respuestas al comment
			var id_notificacion = $(this).data("id");
			var url_ajax = $(this).data("url-ajax");
			var icon_abrir_comments = $(this);
			

			$.ajax({
				method: "GET",
				url: url_ajax,
				data: {'id_notificacion': id_notificacion},
				success: function(response){
					respuestas = JSON.parse(response);
					var respuestas_div = icon_abrir_comments.parent().find('.respuestas_comment');
				
					$.each(respuestas, function(index, value){
					$(respuestas_div).append(
						"<div class=well>"+
						"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+value[2]+"'>"+
						"<img class='img-responsive circular' src='"+value[3]+"'>"+"</a>"+"&nbsp"+
						value[1]+
						"</div>"
						);
					});

					// cambiar data "clicked" a 1 para que no vuelva a cargar en caso de que cierre y abra los comments de nuevo
					icon_abrir_comments.data("clicked", "1");
				}
			});
		} 
	});

	var CambiarTextoError = function(objeto, texto_original){
		objeto.text("Hubo un error");
		setTimeout(function(){
			objeto.text(texto_original);
		}, 2000);
	}

	$(".enviar_respuesta").on("click", function(e){
		e.preventDefault();

		var texto_respuesta = $(this).parent().find(".texto_respuesta").val()
		var comment_id = $(this).data("id");
		var url_ajax = $(this).data("url")

		var data = {'texto_respuesta': texto_respuesta, 'comment_id': comment_id, 'csrfmiddlewaretoken': "{{csrf_token}}"}
		var submit_button = $(this);

		var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(response){
				respuesta = JSON.parse(response);
				var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');
							
				$(respuestas_div).append(
					"<div class=well>"+
					"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+respuesta[2]+"'>"+
					"<img class='img-responsive circular' src='"+respuesta[3]+"'>"+"</a>"+"&nbsp"+
					respuesta[1]+
					"</div>"
					);								
			},
			error: function(){
				CambiarTextoError(submit_button, "Responder");
			}
		})
	});

	$(".comment_notificacion").on("click", function(e){
		e.preventDefault();

		var texto_comment = $(this).parent().find(".texto_comment").val();
		var id_notificacion = $(this).data("id");
		var url_ajax = $(this).data("url");

		var data = {'texto_comment': texto_comment, 'id_notificacion': id_notificacion, 'csrfmiddlewaretoken': "{{csrf_token}}"}
		var submit_button = $(this);

		var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');

		$.ajax({
			method: "POST",
			url: url_ajax,
			data: data,
			success: function(response){
				respuesta = JSON.parse(response);
				var respuestas_div = submit_button.closest(".div_respuestas").find('.respuestas_comment');
							
				$(respuestas_div).append(
					"<div class=well>"+
					"<a class='pull-left' target='_blank' href='"+"/perfil/usuario/"+respuesta[2]+"'>"+
					"<img class='img-responsive circular' src='"+respuesta[3]+"'>"+"</a>"+"&nbsp"+
					respuesta[1]+
					"</div>"
					);		
			},
			error: function(){
				CambiarTextoError(submit_button, "Comentar");
			}
		});
	});
	

	$(".form_comentario").validate({
		rules: {
			comentario: {
				required: true,
			}
		},
		messages: {
			comentario: "Escribe un comentario."
		}
	});
});
</script>
{% endblock extra_javascript %}
